﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">Offline Installation</h1>
        <p style="text-align: left;">S3 Connector can be deployed in an offline installation without internet connectivity. This is the most common deployment for customers and data centers where network access is restricted. Offline installation and deployment uses Ansible and is driven from the Inventory files (described in <MadCap:xref href="../6_Setting Up the Deployment Machine/Modifying the Inventory File Template.htm">“Modifying Ansible Inventory Files” on page&#160;1</MadCap:xref>).</p>
        <ol>
            <li>
                <p>Install Scality RING (6.4.x, 7.x or later) on a minimum of three storage servers.</p>
            </li>
            <li style="text-align: left;">Select the machine that will serve as the deployment server (typically the Supervisor machine). Refer to <MadCap:xref href="../6_Setting Up the Deployment Machine/Setting Up the Deployment Machine.htm">“Setting Up the Deployment Machine” on page&#160;1</MadCap:xref>.</li>
            <li style="text-align: left;">Select three or more RING storage servers to serve as S3 Connector deployment targets.</li>
            <li>Download and extract the S3 Connector tar archive file to a designated directory on the deployment server.</li>
            <li class="paraunder"><pre xml:space="preserve">$ tar -jxvf s3-offline-&lt;version&gt;.tar.bz2</pre>
            </li>
            <li>Go to the directory designated  on the deployment server and run the following command:<pre xml:space="preserve">$ cd s3-offline-&lt;version&gt;/federation </pre></li>
            <li style="text-align: left;">Modify the Inventory File template as described in <MadCap:xref href="../6_Setting Up the Deployment Machine/Modifying the Inventory File Template.htm#top">“Modifying Ansible Inventory Files” on page&#160;1</MadCap:xref>.</li>
            <li style="text-align: left;">Modify the Global Variables template as described in<MadCap:xref href="../6_Setting Up the Deployment Machine/Modifying the Group Variables Template.htm"> “Modifying the Group Variables (all)&#160;File” on page&#160;1</MadCap:xref>.</li>
            <li style="text-align: left;">Configure the S3 Vault environment (for new deployments).<pre xml:space="preserve">$ ./ansible-playbook -i {{targetEnvironmentDir}}//inventory tooling-playbooks/generate-vault-env-config.yml</pre></li>
            <li style="page-break-after: avoid;">Run the following ansible-playbook command to install Docker, copy images, and deploy required services<br /><pre>$ ./ansible-playbook -i {{targetEnvironmentDir}}/inventory run.yml </pre><p class="BoxNote">When using an environment with a different user/group than the one specified on the Supervisor, the <code>run.yml</code> command must include <code>-e ansible_user=$REMOTE_USER</code> where <code>$REMOTE_USER</code> is the name of the user configured in the <code>env_user</code> block settings.</p></li>
            <li style="text-align: left;">
                <p>Set up account users, groups, and access keys for users and groups, and the policies to attach to users and groups. See the <span class="PublicationName"><MadCap:variable name="General.Operations Guide" /></span> for details (new deployments only—not for upgrades).</p>
                <p>For accounts, run the following command to generate an access key and the s3cfg file needed for AWS CLI:</p><pre xml:space="preserve">$ ./ansible-playbook -i ./env/{{targetEnvironmentDir}}/inventory -e 's3cfg_file=/tmp/ {{s3cfigFileName}} account_name={{accountName}} account_email={{accountEmailAddress}}' tooling-playbooks/generate-account-access-key.yml --become</pre>
                <p class="BoxNote">For information on AWS users, groups, policies, and access keys, refer to <a href="https://aws.amazon.com/cli/">AWS Command Line Interface</a> and <a href="http://docs.aws.amazon.com/cli/latest/reference/iam/index.html">AWS Identity and Access Management</a>.</p>
                <p>The AWS Command Line Tool is available in the extracted offline archive as: <span class="ProprietaryFileName">s3-offline-&lt;version&gt;/repo/venv/bin/aws</span></p>
            </li>
            <li style="text-align: left;">Start sending data to  S3 Connector. See the <span class="PublicationName"><MadCap:variable name="General.Reference Manual" /></span> for details.</li>
        </ol>
    </body>
</html>