<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:conditions="PrintGuides.Not Ready Yet">
    <head>
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">Online Installation</h1>
        <p style="text-align: left;">Online installation of S3 Connector requires internet connectivity. Online deployment automates pulling Docker containers and all dependencies directly from Docker hub.</p>
        <ol>
            <li MadCap:conditions="PrintGuides.S3">Install Scality RING (6.4.x, 7.x or later) on a minimum of three storage servers.</li>
            <li MadCap:conditions="PrintGuides.S3">Select the machine that will serve as the deployment server (typically the Supervisor machine). See  <MadCap:xref href="../6_Setting Up the Deployment Machine/Setting Up the Deployment Machine.htm">“Setting Up the Deployment Machine” on page&#160;1</MadCap:xref>.</li>
            <li>Install Ansible 2.2.1 on the deployment server.</li>
            <li MadCap:conditions="PrintGuides.S3">Select three or more RING storage servers to serve as S3 Connector deployment targets.</li>
            <li MadCap:conditions="PrintGuides.Zenko,PrintGuides.Bloomberg">Select two other servers as deployment targets.</li>
            <li>Download and extract the S3 Connector tar archive file to a designated directory on the deployment server.</li>
            <li style="text-align: left;">Modify the Inventory File template as described in <MadCap:xref href="../6_Setting Up the Deployment Machine/Modifying the Inventory File Template.htm#top">“Modifying Ansible Inventory Files” on page&#160;1</MadCap:xref>.</li>
            <li style="text-align: left;">Modify the Global Variables template as described in <MadCap:xref href="../6_Setting Up the Deployment Machine/Modifying the Group Variables Template.htm">“Modifying the Group Variables (all)&#160;File” on page&#160;1</MadCap:xref>.</li>
            <li style="page-break-after: avoid;">
                <p>Configure Docker credentials.</p>
                <p class="BoxNote" style="page-break-inside: avoid;">Online S3 Connector component installation requires each server in the  target environment to be logged into Docker Hub. Customers must acquire their own credentials on Docker Hub (hub.docker.com), validated for the private <MadCap:variable name="General.CompanyName" /> repository.</p>
            </li>
            <li style="page-break-after: avoid;">
                <p>Prepare the target servers.</p>
                <p class="BoxNote" style="page-break-inside: avoid;">Because the ansible-playbook command requires root permissions, add the <span style="font-family: 'Courier New';">--ask-become-pass</span> option (presuming all target machines share the same password) to run the command as sudo. Passwordless access can also be configured with .ssh/config and ssh keys.&#160;</p>
                <p>Once the environment inventory is set up, Ansible can invoke it to confirm the presence of all requirements for the S3 Connector component installs.</p><pre xml:space="preserve">$ ansible-playbook -i env/{{targetEnvironmentDir}}/inventory install-run-requirements.yml --ask-become-pass</pre>
            </li>
            <li>
                <p style="page-break-after: avoid;">Configure the S3 Vault environment (new deployments only—not for upgrades.)</p><pre xml:space="preserve">$ ansible-playbook -i .{{targetEnvironmentDir}}/inventory tooling-playbooks/generate-vault-env-config.yml</pre>
            </li>
            <li>
                <p>Deploy the S3 Connector instances and associated components.</p>
            </li>
            <li>
                <p>Deploy the prebuilt Images. To install S3 Connector and supporting components, call <code>ansible-playbook</code>, with the <code>-i</code> argument set to the inventory file and use the run.yml data markup file (from the repository or tar archive file root directory) as a terminal argument.</p>
                <p>For example,  to install the S3 Connector instances and components to the environment named <cite>{{targetEnvironmentDir}}</cite>, enter the following command:</p><pre xml:space="preserve">$ ansible-playbook -i env/{{targetEnvironmentDir}}/inventory run.yml</pre>
            </li>
            <li>
                <p>Set up account users, groups, and access keys for users and groups, and the policies to attach to users and groups. See the<span class="PublicationName"><MadCap:variable name="General.Operations Guide" /></span> for details. (For new deployments only—not for upgrades).</p>
                <p>For accounts, run this command to generate an access key and the s3cfg file needed for AWS CLI:</p><pre xml:space="preserve">$ ansible-playbook -i ./env/{{targetEnvironmentDir}}/inventory  -e 's3cfg_file=/tmp {{s3cfgFileName}} account_name={{accountName}} account_email={{accountEmailAddress}}' tooling-playbooks/generate-account-access-key.yml --become</pre>
            </li>
            <li>
                <p>For information on users, groups, policies, and access keys, see <a href="https://aws.amazon.com/cli/">AWS Command Line Interface</a> and <a href="http://docs.aws.amazon.com/cli/latest/reference/iam/index.html">AWS iam.</a></p>
                <p>The AWS command line tool is available in the extracted offline archive as <i>s3-offline-{{version}}/repo/venv/bin/aws</i>. </p>
                <p class="BoxNote" style="page-break-inside: avoid;">See the <span class="PublicationName"><MadCap:variable name="General.Operations Guide" /></span>  for information on:<ul><li>Configuring IAM to add accounts and users, and to generate access keys</li><li>Configuring S3 Client applications to communicate with Scality S3 Connector</li><li>Setting up Nagios checks and monitoring</li></ul></p>
            </li>
            <li>Start sending data to the S3 Connector. See the<span class="PublicationName"><MadCap:variable name="General.Reference Manual" /></span> for details.</li>
        </ol>
        <h2 MadCap:autonum="1.1. &#160;"><a name="Redeploy"></a>Redeploying Selected Components</h2>
        <p style="page-break-after: avoid;text-align: left;">To redeploy selected components, separate tags are available for the S3 Connector, S3 Metadata, and S3 Vault components. </p>
        <p style="text-align: left;">Use the following command to redeploy only the S3 Metadata and S3 Vault containers to <code>{{targetEnvironmentName}}.</code></p><pre xml:space="preserve">$ ansible-playbook -i env/{{targetEnvironmentName}}/inventory --tags metadata,vault run.yml</pre>
        <h2 MadCap:autonum="1.2. &#160;"><a name="Verifyin"></a>Verifying the Installation</h2>
        <p style="text-align: left;">On successful completion of the ansible-playbook command that uses the run.yml data markup file, use Ansible to run <code>docker ps</code>.</p><pre xml:space="preserve">$ ansible -i <cite>env/{{targetEnvironmentDir}}</cite>/inventory all -m shell -a "docker ps"</pre>
        <p style="text-align: center;">
            <img src="../Resources/Images/VerifyingInstallation - ansible docker ps command.png" style="width: 598px; height: 113px;" class="OneHundredPercent" />
        </p>
        <p class="BoxNote">If UTAPI (Service Utilization API) or Vault SAML support are enabled, additional Redis container images—redis-server and redis-sentinel—are displayed.</p>
        <p style="text-align: left;">Verify that the images are available to the Docker service on the target servers.</p><pre xml:space="preserve">ansible -i env/{{targetEnvironmentDir}}/inventory all -m shell -a "docker images"</pre>
        <p style="text-align: center;">
            <img src="../Resources/Images/VerifyingInstallation - ansible docker images command.png" style="width: 599px;height: 126px;" />
        </p>
    </body>
</html>