﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;"><a name="top"></a>Configuring Federation</h1>
        <p>Federation configuration occurs in the <span class="ProprietaryFileName">federation/env/YourEnv/group_vars/all</span> file. You can apply it to the S3 cluster members by running the <span class="ProprietaryFileName">run.yml </span>Ansible playbook:</p><pre xml:space="preserve">$ ansible-playbook -i path/to/inventory run.yml </pre>
        <h2 MadCap:autonum="1.1. &#160;"><a name="Sendfilteredlogstothering%27selasticsearchcluster" title="Follow link"></a>Send Filtered Logs to the RING’s Elasticsearch Cluster</h2>
        <p>In a RING 7.4 environment, use the address of the servers hosting the Ring Elasticsearch cluster to fill the <code>env_elasticsearch.endpoints</code> array:</p><pre>env_elasticsearch:
    endpoints:
      - "10.100.132.51:9200"
      - "10.100.132.53:9200"
      - "10.100.132.52:9200" </pre>
        <p>Authentication is handled by <code>env_elasticsearch.user</code> and <code>env_elasticsearch.password</code>:</p><pre>env_elasticsearch:
    user: USER
    password: PASSWORD
    endpoints: [...] </pre>
        <p>SSL communication is handled by <code>env_elasticsearch.ssl</code> and <code>env_elasticsearch.cacert</code>:</p><pre>env_elasticsearch:
    ssl: yes
    cacert: cacert-file.crt
    endpoints: [...] </pre>
        <p>The cacert file must be stored in <span class="ProprietaryFileName">federation/env/YourEnv/</span>.</p>
        <h2 MadCap:autonum="1.2. &#160;"><a name="Sendunfilteredlogsanelasticsearchcluster" title="Follow link"></a>Send Unfiltered Logs to an Elasticsearch Cluster</h2>
        <p>The <span class="Variable">env_log_centralization</span> variable enables sending complete logs to your designated Elasticsearch cluster:</p><pre>env_log_centralization:
    endpoints:
     - "10.100.132.51:9200"
     - "10.100.132.53:9200"
     - "10.100.132.52:9200"</pre>
        <p>If you define <span class="Variable">env_log_centralization.endpoints</span>, you must also define one host in the <code>[loggers]</code> inventory group to have a running curator process that can delete old indexes.</p>
        <p>If you define <span class="Variable">env_log_centralization</span> and fail to define <span class="Variable">env_log_centralization.endpoints</span>, Federation:</p>
        <ol>
            <li>Spawns an “embedded” Elasticsearch cluster in the hosts belonging to the <span class="ElementName">[loggers]</span> group in the <span class="ProprietaryFileName">federation/env/YourEnv/inventory</span> file, inside Docker containers called <span class="ProprietaryFileName">scality-elasticsearch</span></li>
            <li>Sends unfiltered logs to this Elasticsearch cluster</li>
        </ol>
        <p><span class="ElementName">env_log_centralization.components</span> enables you to choose the components from which to gather and centralize logs. For example when configured thus:</p><pre>env_log_centralization:
    components: ['bucketd','vault'] </pre>
        <p>Federation only read logs from the <span class="ElementName">scality-bucketd</span> and <span class="ElementName">scality-vault</span> Docker containers. The default value is to gather logs from all docker containers:</p><pre>  components: ['bucketd', 'metadata-bucket', 'metadata-vault', 's3', 'vault']</pre>
        <p>Authentication and SSL configuration are the same as for <code>env_elasticsearch</code>:</p><pre>env_elasticsearch:
    user: USER
    password: PASSWORD
    ssl: yes
    cacert: cacert-file.crt
    endpoints: [...] </pre>
        <h2 MadCap:autonum="1.3. &#160;"><a name="Configureelasticsearchinstanceshostedinloggersgroup" title="Follow link"></a>Configure Elasticsearch Instances Hosted in Loggers group</h2>
        <p>When <code>env_log_centralization.endpoints</code> is not defined, Federation starts an Elasticsearch cluster in the hosts listed in the <code>[loggers]</code> group of your inventory. You can configure the Elasticsearch nodes of this cluster in the {{ <code>env_logger</code> }} variable.</p>
        <p>Listening ports can be tuned with:</p><pre>env_logger:
    elasticsearch_port: 19200
    elasticsearch_cluster_port: 19300 </pre>
        <p>RAM consumption can be tuned (in GB) with:</p><pre>env_logger:
    es_heap_size_gb: 8 </pre>
        <p>The <code>env_logger.elasticsearch_data_path</code> variable lets you choose where Elasticsearch indexes shall be stored. If it is not set, Federation uses the value of <code>env_host_data</code>.</p><pre>env_logger:
    elasticsearch_data_path: /some/directory/in/the/host </pre>
        <h2 MadCap:autonum="1.4. &#160;"><a name="Configurelogcentralizationindexretentionpolicy" title="Follow link"></a>Configure Log Centralization Index Retention Policy</h2>
        <p>Elasticsearch index retention is handled by the curator process, run every night within the <span class="ProprietaryFileName">scality-elk</span> Docker container. You can fine-tune the maximum size of data hosted within the log centralization Elasticsearch cluster with:</p><pre>env_logger:
    max_index_size_gb: 250 </pre>
        <h2 MadCap:autonum="1.5. &#160;"><a name="Configurekibanaforlogcentralizationvisualization" title="Follow link"></a>Configure Kibana for Log Centralization Visualization</h2>
        <p>You can choose which port Kibana can listen on:</p><pre>env_logger:
    kibana_port: 15601</pre>
    </body>
</html>