﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">Enabling Cross Region Replication (CRR)</h1>
        <p>To enable CRR, define the <span class="Code_Terminal">env_replication_endpoints</span> variable in the <span class="ProprietaryFileName">env/{{template}}/group_vars/all</span> file at the source site. AWS&#160;S3 is shown in this example:&#160;</p><pre xml:space="preserve">env_replication_endpoints:
 - site: awsbackend
   type: aws_s3</pre>
        <p class="Note"><span class="Code_Terminal">awsbackend</span> must be defined as a location constraint (see <MadCap:xref href="#location_constraints">“location_constraints” on page&#160;1</MadCap:xref>).</p>
        <p class="Note">Versioning must be enabled to enable CRR.</p>
        <p>To configure CRR&#160;to an Azure backend, set the type parameter to <code>azure</code>. </p>
        <p>To configure CRR&#160;to a GCP&#160;backend, set the <code>type</code> parameter to  <code>gcp</code>. </p>
        <p>The site setting must match the <span class="Code_Terminal">location_constraint</span>  in <span class="ProprietaryFileName">group_vars/all</span>.</p>
    </body>
</html>