﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;"><a name="Enabling"></a>Enabling Cross-Region Replication (CRR) Between Two Sites</h1>
        <p>In the <span class="ProprietaryFileName">env/{{template}}/group_vars/all</span> file, define the <span class="Code_Terminal">env_backbeat_replication_port</span> variable at the target site.</p><pre>env_backbeat_replication_port: 9080</pre>
        <p>In the <span class="ProprietaryFileName">env/&lt;template&gt;/group_vars/all</span> file, define the <span class="Code_Terminal">env_replication_endpoints</span> variable at the source site.</p><pre xml:space="preserve" style="page-break-inside: avoid;">env_replication_endpoints:
 - site: paris
   servers:
     - {{ipAddress1}}:9080
     - {{ipAddress2}}:9080
     - {{ipAddress3}}:9080
     - {{ipAddress4}}:9080
     - {{ipAddress5}}:9080</pre>
        <p class="BoxNote"> Port 9080 is the value of <span class="Code_Terminal">env_backbeat_replication_port</span> (default 9080), defined at the target site.</p>
        <h2 MadCap:autonum="1.1. &#160;">Stretched Deployments</h2>
        <p>CRR is not supported and must therefore be deactivated in mutli-site stretched deployments. .</p>
        <p>To deactivate CRR, edit the <span class="ProprietaryFileName">env/{{template}}/group_vars/all</span> file, defining the <span class="Code_Terminal">env_enable_backbeat</span> variable at the source site.</p><pre xml:space="preserve">env_enable_backbeat: no</pre>
    </body>
</html>