﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
        <link href="../Resources/TableStyles/SimpleDefinitions.css" rel="stylesheet" MadCap:stylesheetType="table" />
        <link href="../Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">Modifying the group_vars/all File</h1>
        <p>Before installing S3 Connector and components, modify the <span class="ProprietaryFileName">/env/{{targetEnvironmentName}}/group_vars/all</span> file. </p>
        <p>The /group_vars/all file is a YAML-formatted file that sets a list of Ansible variables. These variables dictate the way S3 components are deployed and configured.
This section lists the Ansible variables you must configure to install the Scality S3 Connector.
 </p>
        <p class="BoxNote">Replace all <code>example.com</code> names in <span class="ProprietaryFileName">/group_vars/all</span> with the mapped DNS names or IP addresses of the servers in the target environment. Additional lines can be uncommented and set appropriately for optional environment operation. If  <span class="ElementName">env_host_data</span> or <span class="ElementName">env_host_logs</span> are on an external disk drive, that drive must be mounted using fstab.</p>
        <h2 MadCap:autonum="1.1. &#160;">Configuring Multidisk Support</h2>
        <p>The <span class="ProprietaryFileName">/group_vars/all</span> file contains many essential S3 Connector settings and, with the exception of <span class="Code_Terminal">env_host_data</span>, <span class="Code_Terminal">env_host_logs</span>, <span class="Code_Terminal">env_s3</span>, and <span class="Code_Terminal">location_constraint</span>, these settings persist in their default state.</p>
        <p class="BoxIMPORTANT" style="font-style: normal">Empty lines and character spacing are critical to the functioning of yaml files. Do not change non-variable parts of the <span class="ProprietaryFileName">/group_vars/all</span> file.</p>
        <h3 MadCap:autonum="1.1.1 &#160;">env_host_data</h3>
        <p class="BoxNote">Starting with version 7.2, <span class="ElementName">env_host_data</span> is no longer used to specify the storage
mount point for S3’s bucket storage (Metadata), and <span class="ElementName">env_metadata_datapaths</span>
must be defined.</p>
        <p>Modify the <em>env_host_data</em> value to indicate a local directory on which S3 Connector nodes will store metadata (the Metadata server requires a solid-state drive [SSD]). </p><pre xml:space="preserve">env_host_data: /opt/scality/s3/data</pre>
        <p class="BoxNote">The RING&#160;stores data on disks at <i>/scalty/ssd/</i><span class="Variable" style="font-style: italic;">n</span>. By default, the <span class="ElementName">env_host_data_value</span> indicated in <span class="ProprietaryFileName">/group_vars/all</span>  is not the same disk on which RING&#160;data is stored. </p>
        <h3 MadCap:autonum="1.1.2 &#160;"><a name="env_meta"></a>env_metadata_bucket_datapaths</h3>
        <p>Modify <span class="ElementName">env_metadata_bucket_datapaths</span> to provide the list of mount points (each should match a different SSD) for storing the bucket-storage (S3 metadata) database.</p><pre xml:space="preserve">env_metadata_bucket_datapaths:
 - /srv/scality/s3/disk1
 - /srv/scality/s3/disk2
 - /srv/scality/s3/disk3</pre>
        <p>The mount point configured in <span class="ElementName">env_host_data</span> can be included in this list, but this shares its storage space with the bucket metadata storage.</p>
        <p class="BoxNote">See  for more information about configuring the mount points for Metadata when upgrading to 7.2 or later from earlier versions.</p>
        <div style="page-break-inside: avoid;">
            <h3 MadCap:autonum="1.1.3 &#160;">env_host_logs</h3>
            <p style="text-align: left;">Edit <span class="ElementName">env_host_logs</span> to indicate the location on the host of the S3 Connector log files.</p><pre xml:space="preserve">env_host_logs: /var/log/s3</pre>
        </div>
        <h3 MadCap:autonum="1.1.4 &#160;"><a name="env_s3"></a>env_s3</h3>
        <p style="text-align: left;">Change <span class="ElementName">env_s3</span> to define the S3 Connector API endpoint. </p>
        <p class="BoxWARNING">As of release 7.0 the format has changed. </p>
        <p style="text-align: left;">S3 Connector supports multiple data backend locations. This is not contained in the AWS specification. </p>
        <p style="text-align: left;">To set up the configuration, a <span class="ElementName">rest_endpoints</span> section must specify each endpoint as a key and the default location for that endpoint as a value.</p><pre xml:space="preserve">env_s3:
    rest_endpoints:
      s3.example.com : us-east-1
      127.0.0.2: us-east-1
      localhost: legacy
      node1.amazonaws.com : us-east-1
</pre>
        <p style="text-align: left;">Regarding the endpoint itself (<span class="Code_Terminal">s3.example.com</span> in the preceding code sample), the hostname must resolve to the S3 API endpoint (which usually resolves to the load balancer in front of all  endpoints). The hostname DNS entry must be a wildcard entry to resolve bucket names (for example, <span class="Code_Terminal">bucketname.s3.example.com</span>).</p>
        <p style="text-align: left;">The default location (<span class="ElementName">us-east-1</span> in the sample) is the default location to put data for requests to the given endpoint, unless a given bucket is tied to a location constraint.  </p>
        <p style="text-align: left;page-break-after: avoid;">Thus, as illustrated in the example, if a user hits <span class="Code_Terminal">s3.example.com</span>, the default location to put data is treated as <em>us-east-1</em>. As such, the location <span class="ElementName">us-east-1</span> must map to a location contained in the list of location constraints (see <MadCap:xref href="#location_constraints">“location_constraints” on page&#160;1</MadCap:xref>). </p>
        <h3 MadCap:autonum="1.1.5 &#160;"><a name="location_constraints"></a>location_constraints</h3>
        <p>Multiple location constraints can exist, the key for each of which is its name, which the user can choose. In <span class="ProprietaryFileName">/group_vars/all</span>, each <span class="Code_Terminal">location_constraint</span> entry must have a <span class="Code_Terminal">type</span>, <span class="Code_Terminal">legacy_aws_behavior</span>, and either a connector declaration or a details declaration. </p>
        <p>Available types include:</p>
        <ul>
            <li><span class="ProperNameBold">scality</span>: A Scality RING (private cloud destination)</li>
            <li><span class="ProperNameBold">aws_s3</span>: ID for an AWS S3 bucket</li>
            <li><span class="ProperNameBold">azure</span>: A Microsoft Azure Blob storage container </li>
            <li><span class="ProperNameBold">gcp</span>: A Google Cloud Platform bucket</li>
        </ul>
        <p>The Boolean <span class="ElementName">legacy_aws_behavior</span> key indicates whether the user wants requests to this endpoint to exhibit legacy AWS behavior.</p>
        <p>If the location constraint type is <span class="ProperNameBold">scality</span>, the connector key contains sproxyd and its configuration options, including the node and port and any other sproxyd configuration options. If the location constraint type is a public cloud provider, the details key must contain the necessary information for that account.</p><pre xml:space="preserve">location_constraints:
  legacy:
    type: scality
    legacy_aws_behavior: no
    connector:
      sproxyd:
        bootstrap_list:
          - node1.example.com:4243
          - node2.example.com:4243
          - node3.example.com:4243
          - node4.example.com:4243
          - node5.example.com:4243
          - node6.example.com:4243
  us-east-1:
    type: scality
    legacy_aws_behavior: yes
    connector:
      sproxyd:
        bootstrap_list:
          - node1.example.com:4244
          - node2.example.com:4244
          - node3.example.com:4244
          - node4.example.com:4244
          - node5.example.com:4244
          - node6.example.com:4244
  awsbackend:
    type: aws_s3
    legacy_aws_behavior: yes
    details:
      aws_endpoint: s3.amazonaws.com
      bucket_name: {{bucketWithVersioningEnabled}}
      bucket_match: true
      server_side_encryption: true
      credentials:
	 access_key: {{awsAccessKey}}
	 secret_key: {{awsSecretKey}}

  azurebackend:
    type: azure
    legacy_aws_behavior: yes
    details:
      azure_blob_endpoint:{{containerEndpoint}}
      azure_storage_account_name: {{accountName}}
      azure_storage_access_key: {{awsAccessKey}}
      bucket_match: true
      azure_container_name: {{containerName}}
  gcpbackend:
    type: gcp
    legacy_aws_behavior: yes
    details:
      gcp_endpoint: storage.googleapis.com
      json_endpoint: www.googleapis.com<MadCap:conditionalText MadCap:conditions="PrintGuides.Not Ready Yet">
      bucket_name: {{bucketName}}</MadCap:conditionalText>
      mpu_bucket_name: {{mpuBucketName}}
      overflow_bucket_name: {{overflowBucketName}}
      bucket_match: yes
      credentials:
        access_key: {{gcpAccessKey}}
        secret_key: {{gcpSecretKey}}<MadCap:conditionalText MadCap:conditions="PrintGuides.Not Ready Yet">
      service_credentials:
        scopes: https://www.googleapis.com/auth/cloud-platform
        service_email: {{gcp-account@customer.iam.gserviceaccount.com}}
        service_key: {{service private key}}
</MadCap:conditionalText></pre>
        <p class="BoxIMPORTANT" style="font-style: normal;">Upgrading to Zenko from earlier S3 Connector versions (pre-S3 Connector v. 7.2) requires entering a <span class="Code_Terminal">legacy</span> parameter in <span class="Code_Terminal">location_constraints</span>, stating the pre-existing sproxyd information (otherwise, data will not be retrievable). A location constraint, <code>us-east-1</code> <em>must</em> be included. This is the default location assigned to a bucket when no location is explicitly provided on a PUT bucket request, and it is the endpoint used if the request endpoint is not contained in the <span class="Code_Terminal">rest_endpoints</span> configuration.</p>
        <p class="BoxIMPORTANT" style="font-style: normal;">Upgrading from earlier S3 Connector versions to S3 Connector v. 7.2 requires entering a <span class="Code_Terminal">legacy</span> parameter in <span class="ElementName">location_constraints</span>, stating the pre-existing sproxyd information (otherwise, data will not be retrievable). A location constraint, <code>us-east-1</code> <em>must</em> be included. This is the default location assigned to a bucket when no location is explicitly provided on a PUT bucket request, and it is the endpoint used if the request endpoint is not contained in the <span class="ElementName">rest_endpoints</span> configuration.</p>
        <h3 MadCap:autonum="1.1.6 &#160;">sproxyd</h3>
        <p style="text-align: left;">The sproxyd connector installed by Ansible does not use the sagentd component to connect to the Scality RING&#160;Supervisor.</p>
        <p class="Note" style="text-align: left;" MadCap:conditions="PrintGuides.Zenko">Multiple sproxyd configurations are possible for each location. Multiple locations can also point to the same sproxyd configuration.</p>
        <h4 MadCap:conditions="PrintGuides.Zenko">Bootstrap List for sproxyd</h4>
        <p style="page-break-after: avoid;text-align: left;" MadCap:conditions="PrintGuides.Zenko">Enter the hostnames for the RING nodes that the S3 Connector will use to connect to the RING. The available servers can be found on the supervisor, on the operation tab under Chord Address. </p>
        <p class="BoxNote" MadCap:conditions="PrintGuides.Zenko">Scality advises using a mix of servers and ports.</p><pre xml:space="preserve" MadCap:conditions="PrintGuides.Zenko">bootstrap_list:
  - node1.example.com:4244
  - node1.example.com:4245
  - node2.example.com:4244
  - node2.example.com:4245
  - node3.example.com:4244
  - node3.example.com:4245
  - node4.example.com:4244
  - node4.example.com:4245
  - node5.example.com:4244
  - node5.example.com:4245</pre>
        <h4>Configuration Options</h4>
        <p style="text-align: left;">The following are supported sproxyd configuration options. For each location constraint, any of these options may be specified by adding the information under the sproxyd heading.</p>
        <table style="width: 100%; mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css'); margin-left: auto; margin-right: auto;" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 198px;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Configuration Option</th>
                    <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">chord_cos</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Enabling this option makes sproxydclient go through the chord driver rather than the arc driver <em>chord_cos: 2</em>.</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">lazy_get_enabled</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Enable this option only for a geo-stretched RING with significant inter-site latency. It affects only the replication (chord) driver in sproxyd. Set <em>lazy_get_enabled</em> to 0 to get the <em>fast_mode</em>. The default value is 1 (no fast get) <em>lazy_get_enabled</em>: <em>true</em>. For more information refer to the Scality RING Reference Manual (v7.3.0).</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">data_parts</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Maximum number of ARC data chunks (k)</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">coding_parts</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Number of ARC coding chunks (m)</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">erasure_cos</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Controls the number of copies for data that is too small (&lt; 60 KB) to be stored in erasure coding (i.e. in ARC).</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">min_redundant_parts_put_ok: -1</td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">Controls the number of coding keys that sproxyd should have written before returning OK to S3 on a PUT operation. The default -1 means that all coding should have been written before returning a 200 OK. The safest value is-1. There should be no need to change the value except in a multi-site environment or other specific environment.</td>
                </tr>
            </tbody>
        </table>
        <p class="BoxNote">Defining <em>chord_cos</em> causes S3 traffic to be stored in replication (chord) via <em>chord_cos</em> copy (plus one of the original data copies). The metadata backup will still be stored via erasure coding.</p>
        <h3 MadCap:conditions="PrintGuides.Zenko" MadCap:autonum="1.1.7 &#160;"><a name="AWS"></a>AWS S3</h3>
        <p MadCap:conditions="PrintGuides.Zenko">Using AWS S3 as a data storage backend for S3 Connector links a bucket on an AWS S3 account to a S3 Connector location constraint. This can be either an existing or new bucket.</p>
        <p class="Note" MadCap:conditions="PrintGuides.Zenko">Versioning must be enabled on the AWS S3 bucket before S3 Connector is started, and if using a preexisting bucket, any data stored there before using S3 Connector will be inaccessible from S3 Connector.</p>
        <p MadCap:conditions="PrintGuides.Zenko">In an <span class="ElementName">aws_s3</span> type’s <span class="ElementName">location_constraint</span> entry, there must be entries for <span class="ElementName">aws_endpoint</span>, <span class="ElementName">bucket_name</span>, and <span class="ElementName">bucket_match</span> below the details key.</p>
        <table MadCap:conditions="PrintGuides.Zenko" style="mc-table-style: url('../Resources/TableStyles/SimpleDefinitions.css');margin-left: auto;margin-right: auto;width: 100%;" class="TableStyle-SimpleDefinitions" cellspacing="0">
            <col class="TableStyle-SimpleDefinitions-Column-Column1" style="width: 180px;" />
            <col class="TableStyle-SimpleDefinitions-Column-Column1" style="width: 468px;" />
            <tbody>
                <tr class="TableStyle-SimpleDefinitions-Body-Row1">
                    <td class="TableStyle-SimpleDefinitions-BodyE-Column1-Row1" style="text-align: left;"><span class="ElementName" style="font-weight: bold;">aws_endpoint</span>
                    </td>
                    <td class="TableStyle-SimpleDefinitions-BodyD-Column1-Row1" style="text-align: left;">Points to the endpoint of the region where the AWS S3 bucket to link to S3 Connector resides. </td>
                </tr>
                <tr class="TableStyle-SimpleDefinitions-Body-Row1">
                    <td class="TableStyle-SimpleDefinitions-BodyE-Column1-Row1" style="text-align: left;"><span class="ElementName" style="font-weight: bold;">bucket_name</span>
                    </td>
                    <td class="TableStyle-SimpleDefinitions-BodyD-Column1-Row1" style="text-align: left;">
                        <p>Name of the bucket linked to. Enable versioning on the bucket.</p>
                    </td>
                </tr>
                <tr class="TableStyle-SimpleDefinitions-Body-Row1">
                    <td class="TableStyle-SimpleDefinitions-BodyB-Column1-Row1" style="text-align: left;"><span class="ElementName" style="font-weight: bold;">bucket_match</span>
                    </td>
                    <td class="TableStyle-SimpleDefinitions-BodyA-Column1-Row1" style="text-align: left;">When set <span class="boolean">true</span>, S3C does not prepend the bucket_name to the object key. This creates key parity between S3 Connector and AWS S3. Objects accessed from either the S3 Connector or AWS S3 side will have the same key. When bucket_match is set <span class="boolean">false</span>, objects accessed from AWS S3 will have keys formatted <i>[S3_Connector_bucket_name</i>]/[<i>object_key_name</i>]. Multiple S3 Connector buckets can thus be associated with one AWS S3 bucket without any confusion from the AWS S3 side.</td>
                </tr>
            </tbody>
        </table>
        <p MadCap:conditions="PrintGuides.Zenko">The <span class="ElementName">server_side_encryption</span> key is optional. If it is included and set <span class="boolean">true</span>, objects will be encrypted on AWS S3.</p>
        <p class="BoxNote" MadCap:conditions="PrintGuides.Zenko">If <span class="ElementName">server_side_encryption</span> is enabled,  objects may be encrypted twice, if put to an S3 Connector bucket that also has encryption enabled.</p>
        <p MadCap:conditions="PrintGuides.Zenko">There are two options for including the necessary AWS S3 credentials. </p>
        <ul>
            <li MadCap:conditions="PrintGuides.Zenko">The first is shown above, as the <span class="ElementName">credentials_profile</span> key should be the name of the necessary profile found in <span class="ProprietaryFileName">~/.aws/credentials</span>.</li>
            <li MadCap:conditions="PrintGuides.Zenko" style="page-break-after: avoid;">The second option is to include the credentials directly in S3 Connector.
						<a name="credentials"></a><pre xml:space="preserve" MadCap:conditions="PrintGuides.Zenko">aws-backend:
   type: aws_s3
   legacy_aws_behavior: true
   details:
      credentials:
          access_key: {{accessKey}}
          secret_key: {{secretKey}} </pre></li>
        </ul>
        <h3 MadCap:conditions="PrintGuides.Zenko" MadCap:autonum="1.1.8 &#160;"><a name="Microsof"></a>Microsoft Azure Blob Storage</h3>
        <p MadCap:conditions="PrintGuides.Zenko">Using Microsoft Azure Blob Storage (referred to as Azure) as a data storage backend for S3 Connector links an Azure storage account to an S3 Connector location constraint. </p>
        <p MadCap:conditions="PrintGuides.Zenko">For a location constraint of type <b>azure</b>, details must contain <span class="ElementName">azure_blob_endpoint</span>, <span class="ElementName">azure_blob_sas</span>, <span class="ElementName">bucket_match</span>, and <span class="ElementName">azure_container_name</span>. </p>
        <table MadCap:conditions="PrintGuides.Zenko" style="mc-table-style: url('../Resources/TableStyles/SimpleDefinitions.css');margin-left: auto;margin-right: auto;width: 100%;" class="TableStyle-SimpleDefinitions" cellspacing="0">
            <col class="TableStyle-SimpleDefinitions-Column-Column1" style="width: 190px;" />
            <col class="TableStyle-SimpleDefinitions-Column-Column1" style="width: 458px;" />
            <tbody>
                <tr class="TableStyle-SimpleDefinitions-Body-Row1">
                    <td class="TableStyle-SimpleDefinitions-BodyE-Column1-Row1" style="text-align: left;"><span class="ElementName">azure_blob_endpoint</span>
                    </td>
                    <td class="TableStyle-SimpleDefinitions-BodyD-Column1-Row1" style="text-align: left;"> Identifies the primary Blob Service Endpoint, which can be found under the <b>Properties</b> section in the Azure Portal. </td>
                </tr>
                <tr class="TableStyle-SimpleDefinitions-Body-Row1">
                    <td class="TableStyle-SimpleDefinitions-BodyE-Column1-Row1" style="text-align: left;"><span class="ElementName">bucket_match</span>
                    </td>
                    <td class="TableStyle-SimpleDefinitions-BodyD-Column1-Row1" style="text-align: left;"> Operates the same for GCP&#160;as it does for AWS S3. </td>
                </tr>
                <tr class="TableStyle-SimpleDefinitions-Body-Row1">
                    <td class="TableStyle-SimpleDefinitions-BodyB-Column1-Row1" style="text-align: left;"><span class="ElementName">azure_container_name</span>
                    </td>
                    <td class="TableStyle-SimpleDefinitions-BodyA-Column1-Row1" style="text-align: left;"> Names the Azure container to link to S3 Connector. If this container does not already exist, a container with this name will be created on a PUT operation to the Azure backend.</td>
                </tr>
            </tbody>
        </table>
        <p MadCap:conditions="PrintGuides.Zenko">The <span class="ElementName">azure_storage_account_name</span> refers to the name of the Azure storage account, and <span class="ElementName">azure_storage_access_key</span> contains the access key of the storage account.</p>
        <h3 MadCap:conditions="PrintGuides.Zenko" MadCap:autonum="1.1.9 &#160;"><a name="Google"></a>Google Cloud Storage </h3>
        <p MadCap:conditions="PrintGuides.Zenko">Using Google Cloud Platform storage (referred to as GCP) as a data storage backend for S3 Connector links a GCP&#160;storage account to an S3 Connector location constraint. </p>
        <p MadCap:conditions="PrintGuides.Zenko">For a location_constraint of type [gcp], <span class="ElementName">details</span> must contain <span class="ElementName">gcp_endpoint</span>,<MadCap:conditionalText MadCap:conditions="PrintGuides.Not Ready Yet"> <span class="ElementName">json_endpoint</span>, </MadCap:conditionalText><span class="ElementName">bucket_name</span>, <span class="ElementName">mpu_bucket_name</span>, <MadCap:conditionalText MadCap:conditions="PrintGuides.Not Ready Yet"><span class="ElementName">overflow_bucket_name</span>, </MadCap:conditionalText>and <span class="ElementName">bucket_match</span>.</p><pre MadCap:conditions="PrintGuides.Zenko" xml:space="preserve">gcp-backend:
&#160;&#160;type: gcp
&#160;&#160;legacy_aws_behavior: yes
&#160;&#160;details:
&#160;&#160;&#160;&#160;gcp_endpoint: storage.googleapis.com<MadCap:conditionalText MadCap:conditions="PrintGuides.Not Ready Yet">
&#160;&#160;&#160;&#160;json_endpoint: www.googleapis.com</MadCap:conditionalText>
&#160;&#160;&#160;&#160;bucket_name: {{bucketName}}
&#160;&#160;&#160;&#160;mpu_bucket_name: {{mpuBucketName}}<MadCap:conditionalText MadCap:conditions="PrintGuides.Not Ready Yet">
&#160;&#160;&#160;&#160;overflow_bucket_name: {{overflowBucketName}}</MadCap:conditionalText>
&#160;&#160;&#160;&#160;bucket_match: yes
&#160;&#160;&#160;&#160;credentials:
&#160;&#160;&#160;&#160;&#160;&#160;access_key: {{gcpAccessKey}}
&#160;&#160;&#160;&#160;&#160;&#160;secret_key: {{gcpSecretKey}}<MadCap:conditionalText MadCap:conditions="PrintGuides.Not Ready Yet">
&#160;&#160;&#160;&#160;service_credentials:
&#160;&#160;&#160;&#160;&#160;&#160;scopes: https://www.googleapis.com/auth/cloud-platform
&#160;&#160;&#160;&#160;&#160;&#160;service_email: {{gcp-account@customer.iam.gserviceaccount.com}
&#160;&#160;&#160;&#160;&#160;&#160;service_key:&#160;{{ service private key }}</MadCap:conditionalText></pre>
        <table MadCap:conditions="PrintGuides.Zenko" style="width: 100%;margin-left: auto;margin-right: auto;mc-table-style: url('../Resources/TableStyles/SimpleDefinitions.css');" class="TableStyle-SimpleDefinitions" cellspacing="0">
            <col style="width: 180px;" class="TableStyle-SimpleDefinitions-Column-Column1" />
            <col class="TableStyle-SimpleDefinitions-Column-Column1" style="width: 396px;" />
            <tbody>
                <tr class="TableStyle-SimpleDefinitions-Body-Row1">
                    <td class="TableStyle-SimpleDefinitions-BodyE-Column1-Row1" style="text-align: left;"><span class="ElementName">gcp_endpoint</span>
                    </td>
                    <td class="TableStyle-SimpleDefinitions-BodyD-Column1-Row1" style="text-align: left;">Indicates the endpoint of the region where the GCP bucket to link to Zenko Enterprise resides, using the xml api.</td>
                </tr>
                <tr class="TableStyle-SimpleDefinitions-Body-Row1" MadCap:conditions="PrintGuides.Not Ready Yet">
                    <td class="TableStyle-SimpleDefinitions-BodyE-Column1-Row1" style="text-align: left;"><span class="ElementName">json_endpoint</span>
                    </td>
                    <td class="TableStyle-SimpleDefinitions-BodyD-Column1-Row1" style="text-align: left;">Indicates the endpoint of the region where the GCP bucket to link to Zenko Enterprise resides, using the json api.</td>
                </tr>
                <tr class="TableStyle-SimpleDefinitions-Body-Row1">
                    <td class="TableStyle-SimpleDefinitions-BodyE-Column1-Row1" style="text-align: left;"><span class="ElementName">bucket_name</span>
                    </td>
                    <td class="TableStyle-SimpleDefinitions-BodyD-Column1-Row1" style="text-align: left;">This is the canonical, unique part of the full GCP bucket name</td>
                </tr>
                <tr class="TableStyle-SimpleDefinitions-Body-Row1">
                    <td class="TableStyle-SimpleDefinitions-BodyE-Column1-Row1" style="text-align: left;"><span class="ElementName">mpu_bucket_name</span>
                    </td>
                    <td class="TableStyle-SimpleDefinitions-BodyD-Column1-Row1" style="text-align: left;">This is the name of a helper bucket containing metadata for multi-part uploads. Because GCP does not implement MPU logic, this is added to bridge the gap between S3 logic and Google’s API.</td>
                </tr>
                <tr class="TableStyle-SimpleDefinitions-Body-Row1" MadCap:conditions="PrintGuides.Not Ready Yet">
                    <td class="TableStyle-SimpleDefinitions-BodyE-Column1-Row1" style="text-align: left;"><span class="ElementName">overflow_bucket_name</span>
                    </td>
                    <td class="TableStyle-SimpleDefinitions-BodyD-Column1-Row1" style="text-align: left;">This is the name of a helper bucket for setting metadata counter limits in Google’s API.</td>
                </tr>
                <tr class="TableStyle-SimpleDefinitions-Body-Row1">
                    <td class="TableStyle-SimpleDefinitions-BodyE-Column1-Row1" style="text-align: left;"><span class="ElementName">bucket_match</span>
                    </td>
                    <td class="TableStyle-SimpleDefinitions-BodyD-Column1-Row1" style="text-align: left;">This Boolean sets behavior as described for AWS. When set <span class="boolean">true</span>, S3C does not prepend the bucket_name to the object key. Objects accessed from either the S3 Connector or GCP side will have the same key. Set <span class="boolean">false</span>, objects accessed from GCP&#160;will have keys of the format <i>[bucket_name</i>]/[<i>object_key_name</i>]. With this method, multiple S3 Connector buckets can be associated with one bucket without confusion from GCP.</td>
                </tr>
                <tr class="TableStyle-SimpleDefinitions-Body-Row1">
                    <td class="TableStyle-SimpleDefinitions-BodyE-Column1-Row1" style="text-align: left;"><span class="ElementName">credentials</span>
                    </td>
                    <td class="TableStyle-SimpleDefinitions-BodyD-Column1-Row1" style="text-align: left;"> Google Cloud credentials, consisting of an access key and a secret key.</td>
                </tr>
                <tr class="TableStyle-SimpleDefinitions-Body-Row1" MadCap:conditions="PrintGuides.Not Ready Yet">
                    <td class="TableStyle-SimpleDefinitions-BodyB-Column1-Row1" style="text-align: left;"><span class="ElementName">service_credentials</span>
                    </td>
                    <td class="TableStyle-SimpleDefinitions-BodyA-Column1-Row1" style="text-align: left;">These credentials return a container from Google with essential identity and account information.</td>
                </tr>
            </tbody>
        </table>
        <p MadCap:conditions="PrintGuides.Zenko" style="page-break-after: avoid;">Using Google Cloud Storage as a data backend also requires creating the following buckets:</p>
        <ul>
            <li MadCap:conditions="PrintGuides.Zenko">A main bucket<MadCap:conditionalText MadCap:conditions="PrintGuides.Not Ready Yet"> set to storage class <span class="Code_Terminal">multi-regional</span></MadCap:conditionalText></li>
            <li MadCap:conditions="PrintGuides.Zenko">A multipart upload bucket <MadCap:conditionalText MadCap:conditions="PrintGuides.Not Ready Yet">set to storage class <span class="Code_Terminal">regional</span></MadCap:conditionalText></li>
            <li MadCap:conditions="PrintGuides.Zenko,PrintGuides.Not Ready Yet">An overflow bucket set to storage class <span class="Code_Terminal">multi-regional</span></li>
        </ul>
        <p class="BoxNote" MadCap:conditions="PrintGuides.Zenko,PrintGuides.Not Ready Yet">The main and overflow buckets set to a multi-regional storage class must be set to the same location.</p>
        <p MadCap:conditions="PrintGuides.Zenko">There are two options for including the necessary AWS S3 credentials. </p>
        <ul>
            <li MadCap:conditions="PrintGuides.Zenko">The first is shown above, as the <span class="ElementName">credentials_profile</span> key should be the name of the necessary profile found in <span class="ProprietaryFileName">~/.aws/credentials</span>.</li>
            <li MadCap:conditions="PrintGuides.Zenko" style="page-break-after: avoid;">The second option is to include the credentials directly in S3 Connector.
						<a name="credentials"></a></li>
        </ul>
        <p MadCap:conditions="PrintGuides.Zenko,PrintGuides.Not Ready Yet" style="page-break-after: avoid;">Two credentials are required to configure GCP as a backend:</p>
        <ul MadCap:conditions="PrintGuides.Zenko">
            <li MadCap:conditions="PrintGuides.Zenko,PrintGuides.Not Ready Yet">The service key for the JSON&#160;API</li>
            <li MadCap:conditions="PrintGuides.Zenko,PrintGuides.Not Ready Yet">The interop credentials for the XML&#160;API</li>
        </ul>
        <p MadCap:conditions="PrintGuides.Zenko,PrintGuides.Not Ready Yet">The interop (XML) key  for GCP is formatted and functions similarly to the AWS&#160;credentials shown on page <MadCap:xref href="#credentials" class="PageNumberOnly">1</MadCap:xref>. It can be stored as a profile in <span class="ProprietaryFileName">~/.aws/credentials</span> and used as the <span class="ElementName">credentials_profile</span> is in AWS S3, or it can be included directly in S3 Connector.</p><pre MadCap:conditions="PrintGuides.Zenko">gcp-backend:
&#160;&#160;type: gcp
&#160;&#160;&#160;&#160;legacy_aws_behavior: true
&#160;&#160;&#160;&#160;details:
&#160;&#160;&#160;&#160;&#160;&#160;credentials:
&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;access_key: {{access_key}}
&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;secret_key: {{secret_key}}</pre>
        <p MadCap:conditions="PrintGuides.Zenko,PrintGuides.Not Ready Yet" style="page-break-after: avoid;">The <span class="ElementName">service_credentials</span> section for GCP requires:</p>
        <ul>
            <li MadCap:conditions="PrintGuides.Zenko,PrintGuides.Not Ready Yet">scopes: the access level of the key used (reference: <a href="https://developers.google.com/identity/protocols/googlescopes#storagev1">https://developers.google.com/identity/protocols/googlescopes#storagev1</a>)</li>
            <li MadCap:conditions="PrintGuides.Zenko,PrintGuides.Not Ready Yet">The <span class="ElementName">service_email</span> and <span class="ElementName">service_key</span></li>
        </ul><pre MadCap:conditions="PrintGuides.Zenko,PrintGuides.Not Ready Yet" xml:space="preserve">gcp-backend:
&#160;&#160;type: gcp
&#160;&#160;legacy_aws_behavior: true
&#160;&#160;details:
&#160;&#160;&#160;&#160;service_credentials:
&#160;&#160;&#160;&#160;&#160;&#160;scopes: {{scope}}
&#160;&#160;&#160;&#160;&#160;&#160;service_email: {{service_email}}
&#160;&#160;&#160;&#160;&#160;&#160;service_key: {{service_private_key}}</pre>
        <p style="page-break-after: avoid;" MadCap:conditions="PrintGuides.Not Ready Yet">A complete configuration, thus, is formatted as follows:&#160;</p><pre MadCap:conditions="PrintGuides.Zenko" xml:space="preserve">gcp-backend:
&#160;&#160;type: gcp
&#160;&#160;legacy_aws_behavior: yes
&#160;&#160;details:
&#160;&#160;&#160;&#160;gcp_endpoint: storage.googleapis.com<MadCap:conditionalText MadCap:conditions="PrintGuides.Not Ready Yet">
&#160;&#160;&#160;&#160;json_endpoint: www.googleapis.com</MadCap:conditionalText>
&#160;&#160;&#160;&#160;bucket_name: {{bucketName}}
&#160;&#160;&#160;&#160;mpu_bucket_name: {{mpuBucketName}}
&#160;&#160;&#160;&#160;overflow_bucket_name: {{overflowBucketName}}
&#160;&#160;&#160;&#160;bucket_match: yes
&#160;&#160;&#160;&#160;credentials:
&#160;&#160;&#160;&#160;&#160;&#160;access_key: {{gcpAccessKey}}
&#160;&#160;&#160;&#160;&#160;&#160;secret_key: {{gcpSecretKey}}<MadCap:conditionalText MadCap:conditions="PrintGuides.Not Ready Yet">
&#160;&#160;&#160;&#160;service_credentials:
&#160;&#160;&#160;&#160;&#160;&#160;scopes: https://www.googleapis.com/auth/cloud-platform
&#160;&#160;&#160;&#160;&#160;&#160;service_email: {{gcp-account@customer.iam.gserviceaccount.com}
&#160;&#160;&#160;&#160;&#160;&#160;service_key:&#160;{{ service private key }}</MadCap:conditionalText></pre>
        <h4 MadCap:conditions="PrintGuides.Zenko">GCP Limitations</h4>
        <p MadCap:conditions="PrintGuides.Zenko">In a multipart upload, GCP&#160;imposes a 1024-parts limit for uploads. GCP stores the number of parts used to create an MPU object, carrying forward the MPU object count as parts in a new MPU. When this occurs, the sum of the new MPU object’s parts is calculated as the sum of all parts counts in all MPUs used, plus the number of non-MPU objects. If this count exceeds the 1024-parts limit, the MPU&#160;fails. This results in an internal error with a customized  S3 Connectorerror description.</p>
        <p MadCap:conditions="PrintGuides.Zenko">The total size limit for a multipart GCP upload is the same as for an AWS multipart upload, 5&#160;TB.</p>
        <h2 MadCap:conditions="PrintGuides.Zenko" MadCap:autonum="1.2. &#160;">Optional Configuration</h2>
        <h3 MadCap:conditions="PrintGuides.Zenko" MadCap:autonum="1.2.1 &#160;">Versioning on AWS Backend Considerations</h3>
        <p MadCap:conditions="PrintGuides.Zenko">To ensure data integrity, versioning must be enabled on the AWS bucket that serves as a data backend location for S3 Connector. However, there are some exceptions to this involving interaction between S3 Connector and versioning on AWS S3.</p>
        <ul>
            <li MadCap:conditions="PrintGuides.Zenko">On concurrent PUT or DELETE requests, the order of versions on S3 Connector cannot be guaranteed to match the order of versions on the AWS backend.</li>
            <li MadCap:conditions="PrintGuides.Zenko">If an object is put to the AWS backend when the bucket versioning state on S3 Connector is not Enabled, and the null version on S3C is subsequently overwritten, the corresponding version remains on the AWS backend. Therefore, the latest version on S3Ccannot be guaranteed to always match the latest version on AWS.</li>
        </ul>
        <p MadCap:conditions="PrintGuides.Zenko">If an object is put when versioning is disabled on S3 Connector, and the same object key is put on S3C again when versioning is enabled, and if the user deletes the “null” version, then there will be no such object on S3C, but the first version will appear on AWS S3 as the latest version of the object (in other words, it will not appear deleted).</p>
        <h2 MadCap:conditions="PrintGuides.Zenko" MadCap:autonum="1.3. &#160;">Limitations for Multipart Upload on Azure Backend</h2>
        <p MadCap:conditions="PrintGuides.Zenko"> If there is a multipart upload in-progress, a key with the same name cannot be put or deleted before the multipart upload is completed.</p>
        <p MadCap:conditions="PrintGuides.Zenko">Due to limitations in the max size and number of blocks (equivalent of parts) allowed on Azure for a multipart upload, a maximum of 1,000 5-GB parts is allowed for upload. This is the same total size as the documented limit for the size of a multipart AWS upload, 5 TB.</p>
        <p MadCap:conditions="PrintGuides.Zenko">Any attempt to put more than 1,000 max-sized parts or otherwise to exceed the total number of blocks allowed on Azure will meet with an Internal Error that includes a customized error description from S3 Connector when attempting to complete the multi-part upload.</p>
        <h2 MadCap:conditions="PrintGuides.Zenko" MadCap:autonum="1.4. &#160;">Server-Side Copy Using Public Clouds</h2>
        <p MadCap:conditions="PrintGuides.Zenko">S3 Connector takes advantage of server-side copy on the AWS/Azure data backends if certain conditions are satisfied.</p>
        <p MadCap:conditions="PrintGuides.Zenko" style="page-break-after: avoid;">For Azure, use Azure’s server-side copy if:</p>
        <ul>
            <li MadCap:conditions="PrintGuides.Zenko">The source object and destination object are both on Azure within the same storage account (copy between storage accounts is async on Azure).</li>
            <li MadCap:conditions="PrintGuides.Zenko">The source bucket is not an encrypted bucket and the destination bucket is not an encrypted bucket (unless the copy is all within the same S3 Connector bucket).</li>
        </ul>
        <p MadCap:conditions="PrintGuides.Zenko">For AWS, use AWS’s server-side copy if:</p>
        <ul>
            <li MadCap:conditions="PrintGuides.Zenko">The source object and destination object are both on AWS.</li>
            <li MadCap:conditions="PrintGuides.Zenko">The source bucket is not an encrypted bucket and the destination bucket is not an encrypted bucket (unless the copy is all within the same S3 Connector bucket).</li>
        </ul>
        <p MadCap:conditions="PrintGuides.Zenko">For GCP, use Google’s server-side copy if the source and destination object are both on GCP.</p>
        <p MadCap:conditions="PrintGuides.Zenko">All buckets on GCP&#160;are encrypted by default.</p>
        <h2 MadCap:autonum="1.5. &#160;"><a name="Enabling"></a>Enabling Cross-Region Replication (CRR) Between Two Sites</h2>
        <p>To deactivate CRR, edit the <span class="ProprietaryFileName">env/{{template}}/group_vars/all</span> file, defining the <span class="Code_Terminal">env_enable_backbeat</span> variable at the source site.</p>
        <p class="BoxIMPORTANT" style="font-style: normal;">CRR is not supported in mutli-site stretched deployments and must therefore be deactivated.</p><pre xml:space="preserve">env_enable_backbeat: no</pre>
        <p>In the <span class="ProprietaryFileName">env/{{template}}/group_vars/all</span> file, define the <span class="Code_Terminal">env_backbeat_replication_port</span> variable at the target site.</p><pre>env_backbeat_replication_port: 9080</pre>
        <p>In the <span class="ProprietaryFileName">env/&lt;template&gt;/group_vars/all</span> file, define the <span class="Code_Terminal">env_replication_endpoints</span> variable at the source site.</p><pre xml:space="preserve" style="page-break-inside: avoid;">env_replication_endpoints:
 - site: paris
   servers:
     - {{ipAddress1}}:9080
     - {{ipAddress2}}:9080
     - {{ipAddress3}}:9080
     - {{ipAddress4}}:9080
     - {{ipAddress5}}:9080</pre>
        <p class="BoxNote"> Port 9080 is the value of <span class="Code_Terminal">env_backbeat_replication_port</span> (default 9080), defined at the target site.</p>
        <h2 MadCap:conditions="PrintGuides.Zenko" MadCap:autonum="1.6. &#160;">Enabling Cross Region Replication (CRR)</h2>
        <p MadCap:conditions="PrintGuides.Zenko">To enable CRR, define the <span class="Code_Terminal">env_replication_endpoints</span> variable in the <span class="ProprietaryFileName">env/{{template}}/group_vars/all</span> file at the source site. AWS&#160;S3 is shown in this example:&#160;</p><pre xml:space="preserve" MadCap:conditions="PrintGuides.Zenko">env_replication_endpoints:
 - site: awsbackend
   type: aws_s3</pre>
        <p MadCap:conditions="PrintGuides.Zenko" class="Note"><span class="Code_Terminal">awsbackend</span> must be defined as a location constraint (see <MadCap:xref href="#location_constraints">“location_constraints” on page&#160;1</MadCap:xref>).</p>
        <p MadCap:conditions="PrintGuides.Zenko" class="Note">Versioning must be enabled to enable CRR.</p>
        <p MadCap:conditions="PrintGuides.Zenko">To configure CRR&#160;to an Azure backend, set the type parameter to <code>azure</code>. </p>
        <p MadCap:conditions="PrintGuides.Zenko">To configure CRR&#160;to a GCP&#160;backend, set the <code>type</code> parameter to  <code>gcp</code>. </p>
        <p MadCap:conditions="PrintGuides.Zenko">The site setting must match the <span class="Code_Terminal">location_constraint</span>  in <span class="ProprietaryFileName">group_vars/all</span>.</p>
        <h2 MadCap:autonum="1.7. &#160;"><a name="Enable"></a>Enable Filtered Logs for RING or Another Elasticsearch Server</h2>
        <p>By default all logs (unfiltered) are forwarded to the S3 Connector Elasticsearch. Filtered logs can also be forwarded to a different Elasticsearch server. </p>
        <table style="width: 100%;margin-left: auto;margin-right: auto;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">
                        <p class="InTableFormatted">Component</p>
                    </th>
                    <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">
                        <p class="InTableFormatted">Filtered Logs</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">S3</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <ul>
                            <li style="font-size: 9pt;">elapsed_ms</li>
                            <li style="font-size: 9pt;">httpMethod</li>
                            <li style="font-size: 9pt;">httpCode</li>
                            <li style="font-size: 9pt;">contentLength</li>
                        </ul>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">sproxyd</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <ul>
                            <li style="font-size: 9pt;">elapsed_ms</li>
                            <li style="font-size: 9pt;">httpMethod</li>
                            <li style="font-size: 9pt;">httpCode</li>
                            <li style="font-size: 9pt;">bytesSent</li>
                            <li style="font-size: 9pt;">bytesReceived</li>
                        </ul>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Nginx-sproxyd</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <ul>
                            <li style="font-size: 9pt;">sentContentLength (used for GETs)</li>
                            <li style="font-size: 9pt;">ContentLength (used for PUTs)</li>
                            <li style="font-size: 9pt;">httpMethod</li>
                            <li style="font-size: 9pt;">elapsed_ms</li>
                            <li style="font-size: 9pt;">httpCode</li>
                        </ul>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Bucketd</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <ul>
                            <li style="font-size: 9pt;">httpMethod</li>
                            <li style="font-size: 9pt;">elapsed_ms</li>
                            <li style="font-size: 9pt;">httpCode</li>
                            <li style="font-size: 9pt;">Metadata-bucketd:</li>
                            <li style="font-size: 9pt;">elapsed_ms</li>
                        </ul>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p class="InTableFormatted">Vault</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
                        <ul>
                            <li style="font-size: 9pt;">httpMethod</li>
                            <li style="font-size: 9pt;">elapsed_ms</li>
                            <li style="font-size: 9pt;">httpCode</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>To enable forwarding, define the variables for the target site by uncommenting and modifying lines in the <span class="ProprietaryFileName">env/&lt;template&gt;/group_vars/all</span> file as needed:</p><pre># env_elasticsearch:
#   user: elastic
#   password: changeme
#   cacert: es-chain-ca.crt
#   ssl: yes
#   endpoints:
#     - "elasticsearch-host-1:9200"
#     - "elasticsearch-host-2:9200"
#     - "elasticsearch-host-3:9200"
#     - "elasticsearch-host-4:9200"
#     - "elasticsearch-host-5:9200"</pre>
        <p class="BoxNote">Depending on the environment where Elasticsearch is installed, it may not be necessary to specify <span class="ProperNameBold">user</span>, <span class="ProperNameBold">password</span>, <span class="ProperNameBold">cacert</span>, or <span class="ProperNameBold">ssl</span>.</p>
        <p style="page-break-after: avoid;">The following example is for an Elasticsearch server that does not require authentication:</p><pre>env_elasticsearch:
#   user: elastic
#   password: changeme
#   cacert: es-chain-ca.crt
#   ssl: yes
  endpoints:
    - "10.100.132.51:9200"
    - "10.100.132.52:9200"
    - "10.100.132.53:9200"</pre>
        <p>Defining <span class="ProprietaryFileName">env_log_centralization.endpoints</span> necessitates also defining one host in the <span class="ElementName">[loggers]</span> inventory group to run a curator process to delete old indexes.</p>
        <p>If <span class="ElementName">env_log_centralization</span> is defined and <span class="ElementName">env_log_centralization.endpoints</span> is not, Federation:<br /></p>
        <ol>
            <li> Spawns an “embedded” Elasticsearch cluster in the hosts belonging to the <span class="ElementName">[loggers]</span> group in <span class="ProprietaryFileName">federation/env/YourEnv/inventory</span>, inside Docker containers called <span class="ProprietaryFileName">scality-elasticsearch</span>.</li>
            <li>Sends unfiltered logs to this Elasticsearch cluster.</li>
        </ol>
        <p><span class="ElementName">env_log_centralization.components</span> designates the components from which logs are to be gathered and centralized. For example:</p><pre>env_log_centralization:
  components: ['bucketd','vault']</pre>
        <p>Logs from only the scality-bucketd and scality-vault Docker containers are read. The default value is to gather logs from all Docker containers:</p><pre> components: ['bucketd', 'metadata-bucket', 'metadata-vault', 's3', 'vault'] </pre>
        <p>Authentication and SSL configuration are the same as for <span class="ElementName">env_elasticsearch</span>:</p><pre>env_log_centralization:
  user: USER
  password: PASSWORD
  ssl: yes
  cacert: cacert-file.crt
  endpoints: [...] </pre>
        <h3 MadCap:autonum="1.7.1 &#160;"><a name="Configureelasticsearchinstanceshostedinloggersgroup"></a>Configure Elasticsearch Instances Hosted in Loggers Group</h3>
        <p>When <span class="ElementName">env_log_centralization.endpoints</span> is not defined, Federation starts an Elasticsearch cluster in the hosts listed in the <span class="ElementName">[loggers]</span> group of your inventory. You can configure the Elasticsearch nodes of this cluster in the <span class="Variable">env_logger</span> variable.</p>
        <p>Listening ports can be tuned with:</p><pre>env_logger:
  elasticsearch_port: 19200
  elasticsearch_cluster_port: 19300</pre>
        <p style="page-break-after: avoid;">RAM consumption, in GB, can be tuned with:</p><pre>env_logger:
  es_heap_size_gb: 8</pre>
        <p>The <span class="Variable">env_logger.elasticsearch_data_path</span>  variable enables you to choose where Elasticsearch indexes are stored. If it’s not set, Federation uses the <span class="Variable">env_host_data</span> value.</p><pre>env_logger:
  elasticsearch_data_path: /some/directory/in/the/host</pre>
        <h3 MadCap:autonum="1.7.2 &#160;"><a name="Configurelogcentralizationindexretentionpolicy"></a>Configure Log Centralization Index Retention Policy</h3>
        <p>Elasticsearch index retention is handled by the curator process, run every night within the <span class="ProprietaryFileName">scality-elk</span> Docker container. You can fine-tune the maximum size of data hosted within the log centralization Elasticsearch cluster with:</p><pre>env_logger:
  max_index_size_gb: 250</pre>
        <h3 MadCap:autonum="1.7.3 &#160;"><a name="Configurekibanaforlogcentralizationvisualization"></a>Configure Kibana for Log Centralization Visualization</h3>
        <p style="page-break-after: avoid;">You can choose the port Kibana listens on:</p><pre xml:space="preserve">env_logger:
  kibana_port: 15601</pre>
        <h2 MadCap:autonum="1.8. &#160;"><a name="Configur"></a>Configure Log Retention Policies</h2>
        <p>The log retention policy for some S3 components  can be configured using two Ansible variables:</p>
        <table style="mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');margin-left: auto;margin-right: auto;width: 100%;" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Variable</th>
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Description</th>
                    <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Default value</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">stdout_logfile_maxbytes</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">The maximum size of the active log file</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">300 MB</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">stdout_logfile_backups</td>
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">How many log archives to keep</td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">2</td>
                </tr>
            </tbody>
        </table>
        <p>You can set both variables in <span class="ProprietaryFileName">env/{{EnvFile}}/group_vars/all</span> for each of the following S3 components:</p>
        <ul>
            <li>scality-s3</li>
            <li>scality-sproxyd</li>
            <li>scality-vault</li>
            <li>scality-metadata (version 6.4.7 only)</li>
        </ul>
        <p style="page-break-after: avoid;">Configure the group_vars/all file as shown in the following example. Change the values to suit your requirements.</p><pre style="page-break-before: avoid;">env_s3:
stdout_logfile_maxbytes: 200MB
stdout_logfile_backups: 10
[...]
env_vault: 
stdout_logfile_maxbytes: 400MB
stdout_logfile_backups: 3
[...]
env_sproxyd: 
stdout_logfile_maxbytes: 700MB
stdout_logfile_backups: 20
</pre>
        <p>Apply the configuration using the run.yml Ansible playbook. Immediately before restarting the reconfigured S3 component, run the command for each S3 connector, one by one:</p><pre xml:space="preserve">
$ ./ansible-playbook -i env/{{ EnvDir }}/inventory run.yml -l SERVER1
$ ./ansible-playbook -i env/{{ EnvDir }}/inventory run.yml -l SERVER2
$ ./ansible-playbook -i env/{{ EnvDir }}/inventory run.yml -l SERVER3
[...]</pre>
    </body>
</html>