﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
        <link href="../Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">Upgrading from 6.4.7 to 7.4.0</h1>
        <p style="page-break-after: avoid;">Before upgrading, consider the following requirements.</p>
        <ul>
            <li>Upgrading from 6.4.x S3 Connector versions to 7.x will not incur service downtime, if S3 hosts are upgraded one by one.</li>
            <li>A running version 6.4.7 must be installed before upgrading to 7.4.0.</li>
            <li>Upgrades to version 7.4 cannot be rolled back. Bucket operations are not backward-compatible.</li>
            <li>To activate a new 7.4 feature (Backbeat, GROW, etc.), update to 7.4.0 and then activate the new feature.</li>
            <li>
                <p>Machines used for migration to a new version must remain unchanged after the inventory is created.</p>
                <p class="BoxIMPORTANT">Do not change machine names immediately before upgrading to a new version.</p>
            </li>
        </ul>
        <h2 MadCap:autonum="1.1. &#160;"><a name="Download"></a>Download and Extract the Offline Installer</h2>
        <ol>
            <li>			Download the <span class="ProprietaryFileName">s3-offline-7.4.0.tar.bz2</span> archive from <a href="http://packages-geo.scality.com/S3">our repository</a>. Put it in the same directory as the <span class="ProprietaryFileName">s3-offline-GA6.4.7/</span> directory.
</li>
            <li>Extract it:
		<pre xml:space="preserve">$ tar -xvjf s3-offline-7.4.0.tar.bz2</pre></li>
        </ol>
        <h2 MadCap:autonum="1.2. &#160;"><a name="Prepare"></a>Copy the Old Environment Files</h2>
        <p>		Copy the old environment directory to the new installer directory:
		</p><pre xml:space="preserve">$ cp -r s3-offline-GA6.4.7/federation/env/{{EnvironmentDir}} s3-offline-7.4.0/federation/env</pre>
        <h2 MadCap:autonum="1.3. &#160;"><a name="Generate"></a>Generate the New Environment Files</h2>
        <p>The upgrade-environment Ansible playbook reads the environment and generates a new
environment directory, <span class="ProprietaryFileName">env/{{EnvironmentDir}}.updated</span>. The playbook also generates an
<span class="ProprietaryFileName">inventory_addendum_txt</span> file and indicates its exact location.</p>
        <p>Set <span class="Variable">ENV_DIR</span>:</p><pre xml:space="preserve">$ ENV_DIR={{EnvironmentDir}}</pre>
        <p>Navigate to the federation  directory:</p><pre xml:space="preserve">
$ cd s3-offline-7.4.0/federation</pre>
        <p>Run the Ansible playbook. You must specify the currently deployed version with the option <code>-e deployed=GA6.4.7</code>.</p><pre xml:space="preserve">$ ./ansible-playbook -i env/${ENV_DIR}/inventory -e deployed=GA6.4.7 tooling-playbooks/upgrade-environment.yml</pre>
        <p style="page-break-after: avoid;">If the playbook run is successful, the following command lists the new environment directory:</p><pre xml:space="preserve">
$&#160;ls -d env/*.updated # This should list the new environment directory
</pre>
        <p style="page-break-after: avoid;">Back up and replace the environment directory:
</p><pre xml:space="preserve">$ mv env/${ENV_DIR} env/${ENV_DIR}.old
$ cp -r env/${ENV_DIR}.updated env/${ENV_DIR}
</pre>
        <h2 MadCap:autonum="1.4. &#160;"><a name="Modify_inv"></a>Modify the New Inventory File</h2>
        <p>Hosts are assigned into groups of hosts using the inventory file. Each group has a specific role in the S3 cluster. This table lists the groups Federation uses:</p>
        <table style="width: 100%; mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css'); margin-left: auto; margin-right: auto;" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 150px;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Group</th>
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Description</th>
                    <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Can be empty</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1"><pre xml:space="preserve">[runners_metadata]</pre>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>Contains the <b>stateful</b> connectors, also known as <b>metadata</b> connectors, where the authentication and bucket databases are hosted. Also contains Backbeat components for CRR architectures.</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">No</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p><pre xml:space="preserve">[runners_s3]</pre>
                        </p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>Contains the <b>stateless</b> connectors, responsible for HTTP/HTTPS connections with the S3 clients.</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">No</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p><pre xml:space="preserve">[loggers]</pre>
                        </p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>Contains the hosts that contain an Elasticsearch responsible for storing log centralization</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Yes</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p><pre xml:space="preserve">[filers]</pre>
                        </p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>Contains the NFS service hosts</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Yes</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p><pre xml:space="preserve">[cosbench_controller]</pre>
                        </p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>Contains the host that controls the CosBench drivers for load tests. This should stay empty in a production environment.</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Yes</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p><pre xml:space="preserve">[cosbench_drivers]</pre>
                        </p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p>Contains the hosts for CosBench drivers for load tests. This should stay empty in a production environment.</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">Yes</td>
                </tr>
            </tbody>
        </table>
        <p>Hosts can belong to one or both of the <span class="ElementName">[runners_metadata]</span> and <span class="ElementName">[runners_s3]</span> groups. Either of the following configurations is supported:
		</p>
        <ul>
            <li>
                <p>Co-located architectures, where hosts belong to both <span class="ElementName">[runners_metadata]</span> and <span class="ElementName">[runners_s3]</span> groups,</p>
            </li>
            <li>
                <p>Decoupled architectures, where hosts belong to the <span class="ElementName">[runners_metadata]</span> group and other hosts belong to the <span class="ElementName">[runners_s3]</span> group.</p>
            </li>
        </ul>
        <p>Beginning with version 7.4.0, Federation uses Ansible aliases to refer to stateful hosts using a simple naming convention. The <span class="ProprietaryFileName">env/inventory_addendum.txt</span> file contains the aliasing of the metadata hosts.</p>
        <p style="page-break-after: avoid;">To modify the <span class="ProprietaryFileName">inventory</span> file:
</p>
        <ol>
            <li>
                <p>Back up the old <span class="ProprietaryFileName">inventory</span> file:</p><pre xml:space="preserve">$ cp env/${ENV_DIR}/inventory env/${ENV_DIR}/inventory-GA6.4.7</pre>
            </li>
            <li>
                <p style="page-break-after: avoid;">Copy <span class="ProprietaryFileName">env/inventory_addendum.txt</span>:</p><pre xml:space="preserve">$ grep -v "^#" env/inventory_addendum.txt &gt; env/${ENV_DIR}/inventory</pre>
            </li>
            <li>
                <p>Add all metadata aliases into the <span class="ElementName">[runners_metadata]</span> group in the <span class="ProprietaryFileName">env/${ENV_DIR}/inventory</span> file:</p><pre>[runners_metadata]
md1-cluster1
md2-cluster1
...
wsb1-cluster1</pre>
                <p class="BoxTip">Groups can be nested using the <span class="ElementName">[group_name:children]</span> section type.
				</p>
            </li>
            <li>
                <p>In a co-located architecture, add the alias of the metadata hosts that host the stateless components to the <span class="ElementName">[runners_s3]</span> group in the <span class="ProprietaryFileName">env/${ENV_DIR}/inventory</span> file:</p><pre xml:space="preserve">[runners_s3]
md1-cluster1
md2-cluster1
...</pre>
            </li>
            <li>
                <p>In a decoupled architecture,create an alias for each stateless connector and add it to the  <span class="ElementName">[runners_s3]</span> group in the <span class="ProprietaryFileName">env/${ENV_DIR}/inventory</span> file:</p><pre xml:space="preserve">stateless01 ansible_host=10.100.200.200
stateless02 ansible_host=10.100.200.201
[runners_s3]
stateless01
stateless02</pre>
                <p>Use the same addresses  used in the old inventory.</p>
            </li>
            <li>
                <p>If you already had hosts in the <span class="ElementName">[loggers]</span> group, add them to the <span class="ProprietaryFileName">env/${ENV_DIR}/inventory</span> file. For example:</p><pre xml:space="preserve">[loggers:children]
runners_metadata</pre>
                <p>Define the <span class="ElementName">[loggers]</span> group, even if it is empty.</p>
            </li>
            <li>
                <p>Do not add any hosts to the <span class="ElementName">[filers]</span> group. To activate the Ironfile feature, add hosts after the upgrade .</p>
            </li>
        </ol>
        <h2 MadCap:autonum="1.5. &#160;"><a name="Modify_group_vars"></a>Modify the New group_vars/all File</h2>
        <ol>
            <li>
                <p>Modify the following Ansible variables in the <span class="ProprietaryFileName">env/${ENV_DIR}/group_vars/all</span> file:</p><pre xml:space="preserve">env_deploy_version: 7.4.0</pre>
            </li>
            <li>
                <p style="page-break-after: avoid;">Add the following Ansible variables to the <span class="ProprietaryFileName">env/${ENV_DIR}/group_vars/all</span> file if they don’t already exist:</p>
                <ul>
                    <li>
                        <p>The geo-replication group ID:</p><pre xml:space="preserve">
env_metadata_replication_group_id: RG001</pre>
                        <p class="BoxIMPORTANT">Once this variable is set, do not change it.</p>
                    </li>
                    <li>
                        <p style="page-break-after: avoid;">The mount point for bucket databases:</p><pre xml:space="preserve">env_metadata_bucket_datapaths:
  - '{{ env_host_data }}'
</pre>
                    </li>
                    <li>
                        <p>The list of usable Docker images:</p><pre xml:space="preserve">
env_docker:
  registry:
    s3: 'scality/s3:{{ env_deploy_version }}'
    metadata: 'scality/metadata:{{ env_deploy_version }}'
    vault: 'scality/vault-md:{{ env_deploy_version }}'
    backbeat: 'scality/backbeat:{{ env_deploy_version }}'
</pre>
                    </li>
                    <li>
                        <p>Backbeat deactivation:</p><pre xml:space="preserve">env_enable_backbeat: no</pre>
                        <p>Activate Backbeat after the upgrade.</p>
                    </li>
                </ul>
            </li>
            <li>
                <p>
	To configure the new <span class="Variable">env_user</span> Ansible variable, gather the UID and GID of the user running the S3 processes:
</p>
                <ul>
                    <li>
                        <p>The following command returns the user’s UID:</p><pre xml:space="preserve">$ s3-offline-7.4.0/repo/venv/bin/ansible -i s3-offline-7.4.0/federation/env/${ENV_DIR}/inventory -m shell -a "stat -c %u {{ env_host_data }}/scality-s3" runners_metadata</pre>
                    </li>
                    <li>
                        <p>The following command returns the user’s GID:</p><pre xml:space="preserve">$ s3-offline-7.4.0/repo/venv/bin/ansible -i s3-offline-7.4.0/federation/env/${ENV_DIR}/inventory -m shell -a "stat -c %g {{ env_host_data }}/scality-s3" runners_metadata
</pre>
                    </li>
                </ul>
                <p>
Once you have retrieved the UID and GID, add the following Ansible variable to the <span class="ProprietaryFileName">env/${ENV_DIR}/group_vars/all</span> file:
</p><pre xml:space="preserve">
env_user:
  uid: UID
  gid: GID
</pre>
            </li>
            <li>
                <p>If the <span class="Variable">enable_utilization_api</span> variable is not set, or set to <span class="boolean">false</span>, make sure the <span class="ElementName">cache_roles</span> setting in the <span class="ProprietaryFileName">&lt;myenv&gt;/group_vars/all</span> file is set to <span class="boolean">no</span>:</p><pre xml:space="preserve">env_vault:
  cache_roles: no</pre>
            </li>
            <li>
                <p>

			The <span class="Variable">env_sproxyd</span> Ansible variable is deprecated. Instead, RING connection information is provided by a location inside the <span class="ElementName">location_constraints</span> Ansible variable. </p>
                <p>The following 6.4.7 configuration:
</p><pre xml:space="preserve">
env_sproxyd:
  data_parts: 9
  coding_parts: 3
  erasure_cos: 2
  min_redundant_parts_put_ok: 3
  bootstrap_list:
    - 10.100.132.49:4244
    - 10.100.132.50:4245
    - 10.100.132.51:4245
</pre>
                <p>

is configured as follows for a 7.4 installation:

</p><pre xml:space="preserve">
location_constraints:
# site1 is a connection to the RING
  site1:
    type: scality
    connector:
      sproxyd:
        data_parts: 9
        coding_parts: 3
        erasure_cos: 2
        min_redundant_parts_put_ok: 3
        bootstrap_list:
          - 10.100.132.49:4244
          - 10.100.132.50:4245
          - 10.100.132.51:4245
# legacy and AWS locations are aliases using site1
  legacy: {type: alias, location: site1}
  us-east-1: {type: alias, location: site1}
  us-east-2: {type: alias, location: site1}
  us-west-1: {type: alias, location: site1}
  us-west-2: {type: alias, location: site1}
  ca-central-1: {type: alias, location: site1}
  cn-north-1: {type: alias, location: site1}
  ap-south-1: {type: alias, location: site1}
  ap-northeast-1: {type: alias, location: site1}
  ap-northeast-2: {type: alias, location: site1}
  ap-southeast-1: {type: alias, location: site1}
  ap-southeast-2: {type: alias, location: site1}
  eu-central-1: {type: alias, location: site1}
  eu-west-1: {type: alias, location: site1}
  eu-west-2: {type: alias, location: site1}
  EU: {type: alias, location: site1}
  sa-east-1: {type: alias, location: site1}
</pre>
                <p>
        Inside sproxyd connectors, the <span class="Variable">data_parts</span>, <span class="Variable">coding_parts</span>, and <span class="Variable">erasure_cos</span> Ansible variables must be defined, even if they were not defined in <span class="ProprietaryFileName">env_sproxyd</span>.
		</p>
                <p>
You must also add any location constraints that may have been specified during bucket creation. Run this command from the <span class="ProprietaryFileName">s3-offline-7.4.0/federation/</span> directory,
where <span class="Variable">{{CONNECTOR_IP}}</span> is the IP address of a connector that hosts a scality-bucketd docker container:
		</p><pre xml:space="preserve">
$ ../repo/venv/bin/list-location-constraints --bucketd {{CONNECTOR_IP}}:9000
</pre>
                <p>If the script returns nothing, there are no existing locations. Otherwise, the script returns output resembling:&#160;</p><pre xml:space="preserve">paris
	notredame
us-east-1
	libertystatue
usa
	florida
</pre>
                <p style="text-align: left;">The left column lists existing location constraints, and the right column lists buckets in each location. Following this example, the <span class="ElementName">paris</span> and <span class="ElementName">usa</span> locations must be added inside the <span class="ProprietaryFileName">location_constraints</span> Ansible variable as aliases to the <span class="ElementName">legacy</span> location:</p><pre xml:space="preserve">
location_constraints:
  [...]
  paris: {type: alias, location: legacy}
  usa: {type: alias, location: legacy}
</pre>
            </li>
            <li>
                <p>
			With these location constraints created, add <span class="ElementName">rest_endpoints</span> to the <span class="Variable">env_s3</span> Ansible variable. Because this new setting enforces the authentication process, it is important to enter all domain names and IP addresses used by the S3 clients in the <span class="ElementName">rest endpoints</span> definition. </p><pre xml:space="preserve">
env_s3:
  rest_endpoints:
    127.0.0.1: site1
    localhost: site1
    10.200.5.5: eu-central-1
    yourcompany.com: us-east-1
</pre>
                <ul>
                    <li>
                        <p>Setting the “localhost” endpoint in this list is required.</p>
                    </li>
                    <li>An S3 client locally installed on an S3 connector will be allowed to authenticate, and the default region during bucket creation will be site1. </li>
                    <li>This configuration supports addressing by IP&#160;address. If a load balancer is installed in front of the S3 cluster with IP address 10.200.5.5, remote S3 clients using 10.200.5.5 as an endpoint are allowed to authenticate, with the default region during bucket creation being <code>eu-central-1</code>. </li>
                    <li>This configuration supports addressing by DNS. If a bucket called “legal” has been created, S3 clients can access S3 objects by connecting to the “legal.yourcompany.com” endpoint. </li>
                </ul>
            </li>
            <li>
                <p>In the <span class="Variable">env_healthcheck_allow_ips</span> Ansible variable, replace <span class="ElementName">inventory_hostname</span> with <span class="ElementName">ansible_host</span>:</p><pre xml:space="preserve">
env_healthcheck_allow_ips:
  - '{{ ansible_host }}'
</pre>
            </li>
            <li>
                <p>Filtered s3 logs must be forwarded to the Scality RING’s Elasticsearch cluster. Make sure the <span class="ElementName">env_elasticsearch</span> variable is present with the list of RING&#160;Elasticsearch nodes:</p><pre xml:space="preserve">env_elasticsearch:
  endpoints:
    - IP_NODE_1:9200
    - IP_NODE_2:9200
    - IP_NODE_3:9200
</pre>
                <p>See the <span class="ProprietaryFileName">env/client-template/group_vars/all</span> file for optional Elasticsearch configuration parameters (authentication, encryption, etc.)</p>
            </li>
        </ol>
        <h2 MadCap:autonum="1.6. &#160;">Modify the inventory and group_vars/all Files for Multi-Site Deployments</h2>
        <p>For a multi-site upgrade, each site previously defined in the deployment must have a defined group with:</p>
        <ol>
            <li>A correct Metadata alias set in the site definition.
        <p class="BoxIMPORTANT">Check these carefully: the aliases may have an unintuitive order and may be split between groups</p><pre>[majority]
md1-cluster1
md2-cluster1
md4-cluster1

[minority]
md3-cluster1
md5-cluster1
wsb1-cluster1</pre></li>
            <li>
                <p>A variable <span class="Variable">{{site}}</span> set to the name of the group (i.e: if the group’s name is “minority,” the variable’s value must be set to <code>minority</code>), using  the following <span class="ElementName">ini</span> section in the <span class="ProprietaryFileName">inventory</span> file:</p><pre>[majority:vars]
site=majority

[minority:vars]
site=minority
</pre>
            </li>
            <li>
                <p>A <span class="ProprietaryFileName">group_vars/all</span> file with aliases and site groups definitions similar to the following example:</p><pre>md1-cluster1 ansible_host=10.200.1.242 env_metadata_bucket_port="[4200, 9043, 9044, 9045, 9046, 9047, 9048, 9049, 9050]" env_metadata_bucket_admin_port="[5200, 9143, 9144, 9145, 9146, 9147, 9148, 9149, 9150]"
md2-cluster1 ansible_host=10.200.1.31 env_metadata_bucket_port="[4200, 9043, 9044, 9045, 9046, 9047, 9048, 9049, 9050]" env_metadata_bucket_admin_port="[5200, 9143, 9144, 9145, 9146, 9147, 9148, 9149, 9150]"
md3-cluster1 ansible_host=10.200.2.103 env_metadata_bucket_port="[4200, 9043, 9044, 9045, 9046, 9047, 9048, 9049, 9050]" env_metadata_bucket_admin_port="[5200, 9143, 9144, 9145, 9146, 9147, 9148, 9149, 9150]"
md4-cluster1 ansible_host=10.200.2.3 env_metadata_bucket_port="[4200, 9043, 9044, 9045, 9046, 9047, 9048, 9049, 9050]" env_metadata_bucket_admin_port="[5200, 9143, 9144, 9145, 9146, 9147, 9148, 9149, 9150]"
md5-cluster1 ansible_host=10.200.2.72 env_metadata_bucket_port="[4200, 9043, 9044, 9045, 9046, 9047, 9048, 9049, 9050]" env_metadata_bucket_admin_port="[5200, 9143, 9144, 9145, 9146, 9147, 9148, 9149, 9150]"
wsb1-cluster1 ansible_host=10.200.1.228 env_metadata_bucket_port="[4200, 9043, 9044, 9045, 9046, 9047, 9048, 9049, 9050]" env_metadata_bucket_admin_port="[5200, 9143, 9144, 9145, 9146, 9147, 9148, 9149, 9150]"

[majority]
md1-cluster1
md2-cluster1
md4-cluster1

[minority]
md3-cluster1
md5-cluster1
wsb1-cluster1

[majority:vars]
site=majority

[minority:vars]
site=minority</pre>
            </li>
        </ol>
        <h2 MadCap:autonum="1.7. &#160;"><a name="Stop_ntpd"></a>Stop ntpd</h2>
        <p>The ntpd service may negatively affect the upgrade. Stop it temporarily in the S3 connectors with:</p><pre xml:space="preserve">$ sudo systemctl stop ntpd</pre>
        <p>
			You will be able to restart ntpd  at the end of the upgrade.
		</p>
        <h2 MadCap:autonum="1.8. &#160;"><a name="Migrate"></a>Migrate Metadata Backups</h2>
        <p>From <span class="ProprietaryFileName">s3-offline-7.4.0/federation</span>, run:
</p><pre xml:space="preserve">$ ./ansible-playbook -i env/${ENV_DIR}/inventory tooling-playbooks/metadata-migrate-backup.yml	</pre>
        <h2 MadCap:autonum="1.9. &#160;"><a name="Upgrade_stateful"></a>Upgrade the Stateful Connectors</h2>
        <p>From <span class="ProprietaryFileName">s3-offline-7.4.0/federation</span>, upgrade the stateful connectors with the following commands. </p>
        <ol>
            <li>
                <p>Generate the S3 Console token with:&#160;</p><pre xml:space="preserve">
$ ./ansible-playbook -i ./env/${ENV_DIR}/inventory tooling-playbooks/generate-vault-env-config.yml</pre>
            </li>
            <li>
                <p>Upgrade the stateful connectors with the following playbooks:</p><pre xml:space="preserve">
$ ./ansible-playbook -i ./env/${ENV_DIR}/inventory run.yml --limit md1-cluster1
$ ./ansible-playbook -i ./env/${ENV_DIR}/inventory run.yml --limit md2-cluster1
$ ./ansible-playbook -i ./env/${ENV_DIR}/inventory run.yml --limit md3-cluster1
$ ./ansible-playbook -i ./env/${ENV_DIR}/inventory run.yml --limit md4-cluster1
$ ./ansible-playbook -i ./env/${ENV_DIR}/inventory run.yml --limit md5-cluster1</pre>
                <p>
If you have a multi-cluster environment, repeat these playbooks for mdX-cluster2, mdX-cluster3, and so forth.
</p>
            </li>
            <li>
                <p>In a multi-site setup, upgrade the warm-standby stateful connectors with the following command:</p><pre xml:space="preserve">$ ./ansible-playbook -i ./env/${ENV_DIR}/inventory run.yml --limit 'wsb*'</pre>
            </li>
        </ol>
        <p>If any of these commands fails, stop. Contact Scality support.</p>
        <h2 MadCap:autonum="1.10. &#160;">Restart Vault Role Caching</h2>
        <p>If you are upgrading from a platform where UTAPI was disabled (that is, if you set <span class="ElementName">cache_roles</span> to <code>no</code> above)&#160;re-activate Vault role caching. Return to env/group_vars/all and change this setting to <code>yes</code>:</p><pre>env_vault:
  cache_roles: yes</pre>
        <p>Re-run Federation using the <code>-t vault</code> CLI option to activate Vault caching using the clusterized Redis:</p><pre>./ansible-playbook -i &lt;myenv&gt;/inventory run.yml -t vault</pre>
        <p>This reconfigures and restarts Vault service with the support of the Redis cluster for caching role information.</p>
        <h2 MadCap:autonum="1.11. &#160;"><a name="Upgrade_stateless"></a>Upgrade the Stateless Connectors</h2>
        <p style="page-break-after: avoid;">From <span class="ProprietaryFileName">s3-offline-7.4.0/federation</span>, run the following playbook:</p><pre xml:space="preserve">$ ./ansible-playbook -i ./env/${ENV_DIR}/inventory run.yml --limit STATELESS_ALIAS</pre>
        <p>If it fails, stop. Contact Scality support.</p>
        <h2 MadCap:autonum="1.12. &#160;"><a name="Start_ntpd"></a>Start ntpd</h2>
        <p>Start ntpd on the servers where it was stopped ():</p><pre xml:space="preserve">$ sudo systemctl start ntpd</pre>
        <p>Verify that the service has started correctly:</p><pre>$ sudo timedatectl status</pre>
        <h2 MadCap:autonum="1.13. &#160;"><a name="Console"></a>Set Up the S3 Console (Optional)</h2>
        <p style="page-break-after: avoid;">
		The S3 Console is a Web GUI&#160;that gives you access to:
		</p>
        <ul>
            <li>Account management with the superadmin user</li>
            <li>IAM (user/group) management with an “account”&#160;user for each account created</li>
            <li>The content of your S3 buckets</li>
        </ul>
        <p>
		To set up S3 Console, perform the following steps from the <span class="ProprietaryFileName">s3-offline-7.4.0/federation</span> directory.</p>
        <ol>
            <li>
Create the superadmin login and password:
        <pre xml:space="preserve">
$ ./ansible-playbook -i ./env/${ENV_DIR}/inventory tooling-playbooks/create-superadmin-console-user.yml -e 'ui_username="USER" ui_password="PASSWORD"'</pre><p>Replace USER&#160;and PASSWORD&#160;with the username and password from the GUI. </p></li>
            <li>List accounts:<pre xml:space="preserve">$ ./ansible-playbook -i ./env/${ENV_DIR}/inventory tooling-playbooks/list-account.yml</pre></li>
            <li>For each account, the following playbook enables you to create a GUI login and password giving you access that account’s IAM configuration. <pre xml:space="preserve">
$ ./ansible-playbook -i ./env/${ENV_DIR}}/inventory tooling-playbooks/generate-account-access-key.yml -e 'account="ACCOUNT" email="EMAIL" ui_username="USER" ui_password="PASSWORD"'	</pre><p>Replace ACCOUNT with the account’s name, EMAIL with the account’s emailAddress, and USER  and PASSWORD with the GUI login and its password.</p></li>
        </ol>
    </body>
</html>
