﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
        <link href="../Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">Upgrading from 7.2.0 to 7.4.0</h1>
        <p>Before upgrading, consider the following requirements.</p>
        <ul>
            <li>Before upgrading to 7.4.0, a running version 7.2.0.X installation is required.</li>
            <li>
                <p>Machines used to migrate to a new version must remain as they were when inventory was created.</p>
                <p class="BoxIMPORTANT" style="font-style: normal;">Do not change machine names immediately before upgrading to a new version.
                </p>
            </li>
        </ul>
        <h2 MadCap:autonum="1.1. &#160;"><a name="Download"></a>Download and Extract Offline Installer</h2>
        <ol>
            <li>			Download the <span class="ProprietaryFileName">s3-offline-7.4.0.tar.bz2</span> archive from <a href="http://packages-geo.scality.com/S3">our repository</a>. Put it in the same directory as the <span class="ProprietaryFileName">s3-offline-GA7.2.0.X/</span> directory.
</li>
            <li>Extract it:
		<pre xml:space="preserve">$ tar -xvjf s3-offline-7.4.0.tar.bz2</pre></li>
        </ol>
        <h2 MadCap:autonum="1.2. &#160;"><a name="Prepare"></a>Copy the Old Environment Files</h2>
        <p>
		Copy the old environment directory to the new installer directory:
		</p><pre xml:space="preserve">$ cp -r s3-offline-GA7.2.0.?/federation/env/{{EnvironmentDir}} s3-offline-7.4.0/federation/env</pre>
        <h2 MadCap:autonum="1.3. &#160;"><a name="Generate"></a>Generate the New Environment Files</h2>
        <p>The upgrade-environment Ansible playbook reads the environment and generates a new
environment directory, <span class="ProprietaryFileName">env/{{EnvornmentDir}}.updated</span>. The playbook also generates an
<span class="ProprietaryFileName">inventory_addendum_txt</span> file and indicates its exact location.</p>
        <p>Set <span class="Variable">ENV_DIR</span>:</p><pre xml:space="preserve">$ ENV_DIR={{EnvironmentDir}}</pre>
        <p>Navigate to the federation  directory:</p><pre xml:space="preserve">
$ cd s3-offline-7.4.0/federation</pre>
        <p>Run the Ansible playbook. You must specify the currently deployed version with the option <code>-e deployed=GA7.2.0.5</code>.</p><pre xml:space="preserve">
$ ./ansible-playbook -i env/${ENV_DIR}/inventory -e deployed=GA7.2.0.5 tooling-playbooks/upgrade-environment.yml</pre>
        <p>If the playbook run is successful, the following command lists the new environment directory:</p><pre xml:space="preserve">
$&#160;ls -d env/*.updated </pre>
        <p>Back up and replace the environment directory:
</p><pre xml:space="preserve">$ mv env/${ENV_DIR} env/${ENV_DIR}.old
$ cp -r env/${ENV_DIR}.updated env/${ENV_DIR}</pre>
        <h2 MadCap:autonum="1.4. &#160;"><a name="Modify_inv_7"></a>Modify the New Inventory File</h2>
        <p style="page-break-after: avoid;">Hosts are assigned into groups of hosts using the inventory file. Each group has a specific role in the S3 cluster. This table lists the groups Federation uses:</p>
        <table style="width: 100%; mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css'); margin-left: auto; margin-right: auto;" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 150px;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Group</th>
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Description</th>
                    <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Can be empty</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p><pre>[runners_metadata]</pre>
                        </p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>Contains the <b>stateful</b> connectors, also known as <b>metadata</b> connectors, where the authentication and bucket databases are hosted. Also contains Backbeat components for CRR architectures.</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">No</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p><pre>[runners_s3]</pre>
                        </p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>Contains the <b>stateless</b> connectors, responsible for HTTP/HTTPS connections with the S3 clients.</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">No</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p><pre>[loggers]</pre>
                        </p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>Contains the hosts that contain an Elasticsearch responsible for storing log centralization</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Yes</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p><pre>[filers]</pre>
                        </p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>Contains the NFS service hosts</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Yes</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p><pre>[cosbench_controller]</pre>
                        </p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>Contains the host that controls the CosBench drivers for load tests. This should stay empty in a production environment.</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">Yes</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p><pre>[cosbench_drivers]</pre>
                        </p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p>Contains the hosts for CosBench drivers for load tests. This should stay empty in a production environment.</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">Yes</td>
                </tr>
            </tbody>
        </table>
        <p>Hosts can belong to one or both of the <span class="ElementName">[runners_metadata]</span> and <span class="ElementName">[runners_s3]</span> groups. Either of the following configurations is supported:
		</p>
        <ul>
            <li>
                <p>Co-located architectures, where hosts belong to both <span class="ElementName">[runners_metadata]</span> and <span class="ElementName">[runners_s3]</span> groups,</p>
            </li>
            <li>
                <p>Decoupled architectures, where hosts belong to the <span class="ElementName">[runners_metadata]</span> group and other hosts belong to the <span class="ElementName">[runners_s3]</span> group.</p>
            </li>
        </ul>
        <p>Beginning with version 7.4.0, Federation uses Ansible aliases to refer to stateful hosts using a simple naming convention. The <span class="ProprietaryFileName">env/inventory_addendum.txt</span> file contains the aliasing of the metadata hosts.</p>
        <p style="page-break-after: avoid;">To modify the <span class="ProprietaryFileName">inventory</span> file:
</p>
        <ol>
            <li>
                <p>Back up the old <span class="ProprietaryFileName">inventory</span> file:</p><pre xml:space="preserve">$ cp env/${ENV_DIR}/inventory env/${ENV_DIR}/inventory-GA7.2</pre>
            </li>
            <li>
                <p>Copy <span class="ProprietaryFileName">/tmp/inventory_addendum.txt</span>:</p><pre xml:space="preserve">$ grep -v "^#"env/inventory_addendum.txt &gt; env/${ENV_DIR}/inventory</pre>
            </li>
            <li>
                <p>Add all metadata aliases to the <span class="ElementName">[runners_metadata]</span> group in the <span class="ProprietaryFileName">env/${ENV_DIR}/inventory</span> file:</p><pre>[runners_metadata]
md1-cluster1
md2-cluster1
...
wsb1-cluster1</pre>
                <p class="BoxTip">Groups can be nested using the <span class="ElementName">[group_name:children]</span> section type.
				</p>
            </li>
            <li>
                <p>In a co-located architecture, add the alias of the metadata hosts that host the stateless components to the <span class="Variable">[runners_s3]</span> group in the <span class="ProprietaryFileName">env/${ENV_DIR}/inventory</span> file:</p><pre xml:space="preserve">[runners_s3]
md1-cluster1
md2-cluster1
...				</pre>
            </li>
            <li>
                <p>In a decoupled architecture, add stateless connectors to the [runners_s3] group in the env/${ENV_DIR}/inventory file, using an Ansible alias of your choosing:</p><pre xml:space="preserve">[runners_s3]
stateless01 ansible_host=10.100.200.200
stateless02 ansible_host=10.100.200.201</pre>
                <p>Use the same addresses  used in the old inventory.</p>
            </li>
            <li>
                <p>If you already had hosts in the <span class="ElementName">[loggers]</span> group, add them in the <span class="ProprietaryFileName">env/${ENV_DIR}/inventory</span> file. For example:</p><pre xml:space="preserve">[loggers:children]
runners_metadata</pre>
                <p>Define the <span class="ElementName">[loggers]</span> group, even if it is empty.</p>
            </li>
            <li>
                <p>Do not add any hosts to the <span class="ElementName">[filers]</span> group. Add them after the upgrade.</p>
            </li>
        </ol>
        <h2 MadCap:autonum="1.5. &#160;"><a name="Modify_group_vars_7"></a>Modify the New group_vars/all File</h2>
        <p>Edit the <span class="ProprietaryFileName">env/${ENV_DIR}/group_vars/all</span> file as follows:</p>
        <ol>
            <li>
                <p>Modify the following Ansible variables:</p><pre xml:space="preserve">env_deploy_version: 7.4.0</pre>
            </li>
            <li>
                <p>In the <span class="Variable">env_healthcheck_allow_ips</span> Ansible variable, replace <span class="ElementName">inventory_hostname</span> with <span class="ElementName">ansible_host</span>:</p><pre xml:space="preserve">
env_healthcheck_allow_ips:
  - '{{ ansible_host }}'</pre>
            </li>
            <li>
                <p>In the <span class="Variable">location_constraints</span> Ansible variable, all <span class="ElementName">scality</span> locations must have <span class="ElementName">data_parts</span>, <span class="ElementName">coding_parts</span>, and <span class="ElementName">erasure_cos</span> defined. </p>
                <p style="page-break-after: avoid;">For example:</p><pre xml:space="preserve">  site1:
    type: scality
    connector:
      sproxyd:
        data_parts: 9
        coding_parts: 3
        erasure_cos: 2
        min_redundant_parts_put_ok: 3
</pre>
                <p>If you are unsure of the value of these variables, please reach out Scality support.</p>
                <p class="BoxNote">Delete lines containing the <span class="ElementName">chord_cos</span> configuration.</p>
            </li>
            <li>
                <p style="page-break-after: avoid;">If the <span class="Variable">enable_utilization_api</span> variable is not set, or set to false, make sure the <span class="ElementName">cache_roles</span> setting in the <span class="ProprietaryFileName">&lt;myenv&gt;/group_vars/all</span> file is set to <code>no</code>:</p><pre xml:space="preserve">env_vault:
  cache_roles: no</pre>
            </li>
            <li>
                <p>Forward filtered s3 logs to the Scality RING’s Elasticsearch cluster. Make sure the <span class="ElementName">env_elasticsearch</span> variable is present with the list of RING&#160;Elasticsearch nodes:</p><pre xml:space="preserve">env_elasticsearch:
  endpoints:
    - IP_NODE_1:9200
    - IP_NODE_2:9200
    - IP_NODE_3:9200
</pre>
                <p>See the <span class="ProprietaryFileName">env/client-template/group_vars/all</span> file for optional Elasticsearch configuration parameters (authentication, encryption, etc.)</p>
            </li>
        </ol>
        <h2 MadCap:autonum="1.6. &#160;"><a name="Stop_ntpd_7"></a>Stop ntpd</h2>
        <p style="page-break-after: avoid;">The ntpd service may negatively affect the upgrade. Stop it temporarily  in the S3 connectors with:</p><pre xml:space="preserve">$ sudo systemctl stop ntpd</pre>
        <p>
			You will be able to restart ntpd  at the end of the upgrade.
</p>
        <h2 MadCap:autonum="1.7. &#160;"><a name="Upgrade_stateful_7"></a>Upgrade the Stateful Connectors</h2>
        <p>From <span class="ProprietaryFileName">s3-offline-7.4.0/federation</span>, upgrade the stateful connectors with the following commands. </p>
        <ol>
            <li>Generate the S3 Console token with:
				<pre xml:space="preserve">$ ./ansible-playbook -i ./env/${ENV_DIR}/inventory tooling-playbooks/generate-vault-env-config.yml</pre></li>
            <li>
                <p>Upgrade the active stateful connectors with the following playbooks:</p><pre xml:space="preserve">
$ ./ansible-playbook -i ./env/${ENV_DIR}/inventory run.yml --limit md1-cluster1
$ ./ansible-playbook -i ./env/${ENV_DIR}/inventory run.yml --limit md2-cluster1
$ ./ansible-playbook -i ./env/${ENV_DIR}/inventory run.yml --limit md3-cluster1
$ ./ansible-playbook -i ./env/${ENV_DIR}/inventory run.yml --limit md4-cluster1
$ ./ansible-playbook -i ./env/${ENV_DIR}/inventory run.yml --limit md5-cluster1</pre>
                <p>If you have a multi-cluster environment, repeat these playbooks for mdX-cluster2, mdX-cluster3, and so forth. 
        </p>
            </li>
            <li>
                <p>In a multi-site setup, upgrade the warm-standby stateful connectors with the following command:</p><pre xml:space="preserve">$ ./ansible-playbook -i ./env/${ENV_DIR}/inventory run.yml --limit 'wsb*'</pre>
            </li>
        </ol>
        <p>If any of these commands fails, stop. Contact Scality support.</p>
        <h2 MadCap:autonum="1.8. &#160;">Restart Vault Role Caching</h2>
        <p>If you are upgrading from a platform where UTAPI was disabled (that is, if you set <span class="ElementName">cache_roles</span> to <code>no</code> above)&#160;re-activate Vault role caching. Return to env/group_vars/all and change this setting to <code>yes</code>:</p><pre>env_vault:
  cache_roles: yes</pre>
        <p>Re-run Federation using the <code>-t vault</code> CLI option to activate Vault caching using the clusterized Redis:</p><pre>./ansible-playbook -i &lt;myenv&gt;/inventory run.yml -t vault</pre>
        <p>This reconfigures and restarts Vault service with the support of the Redis cluster for caching role information.</p>
        <h2 MadCap:autonum="1.9. &#160;"><a name="Upgrade_stateless_7"></a>Upgrade the Stateless Connectors</h2>
        <p>From <span class="ProprietaryFileName">s3-offline-7.4.0/federation</span>, run the following command. </p><pre xml:space="preserve">$ ./ansible-playbook -i ./env/${ENV_DIR}/inventory run.yml --limit STATELESS_ALIAS</pre>
        <p>If it fails, stop. Contact Scality support.</p>
        <h2 MadCap:autonum="1.10. &#160;"><a name="Start_ntpd_7"></a>Start ntpd</h2>
        <p>Start ntpd on the servers where it was stopped ():</p><pre xml:space="preserve">$ sudo systemctl start ntpd</pre>
        <p>Verify that the service has started correctly:</p><pre>$ sudo timedatectl status</pre>
        <h2 MadCap:autonum="1.11. &#160;"><a name="Console_7"></a>Set Up the S3 Console (Optional)</h2>
        <p>
		The S3 Console is a Web GUI&#160;that gives you access to:
		</p>
        <ul>
            <li>Account management with the superadmin user</li>
            <li>IAM (user/group) management with an “account”&#160;user for each account created</li>
            <li>The content of your S3 buckets</li>
        </ul>
        <p>
		To set up S3 Console, perform the following steps from the <span class="ProprietaryFileName">s3-offline-7.4.0/federation</span> directory.</p>
        <ol>
            <li>
Create the superadmin login and password:
        <pre xml:space="preserve">
$ ./ansible-playbook -i ./env/${ENV_DIR}/inventory tooling-playbooks/create-superadmin-console-user.yml -e 'ui_username="USER" ui_password="PASSWORD"'</pre><p>Replace USER&#160;and PASSWORD&#160;with the username and password from the GUI. </p></li>
            <li>List accounts:<pre xml:space="preserve">$ ./ansible-playbook -i ./env/${ENV_DIR}/inventory tooling-playbooks/list-account.yml</pre></li>
            <li>For each account, the following playbook enables you to create a GUI login and password giving you access that account’s IAM configuration. <pre xml:space="preserve">
$ ./ansible-playbook -i ./env/${ENV_DIR}/inventory tooling-playbooks/generate-account-access-key.yml -e 'account="ACCOUNT" email="EMAIL" ui_username="USER" ui_password="PASSWORD"'	</pre><p>Replace ACCOUNT with the account’s name, EMAIL with the account’s emailAddress, and USER  and PASSWORD with the GUI login and its password.</p></li>
        </ol>
    </body>
</html>