﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head />
    <body>
        <h1 MadCap:autonum="1. &#160;">Upgrading from 7.4.0 to Later Releases</h1>
        <p>Major versions of S3 Connector 7.4 offer new features. This section refers to these major versions specifically as 7.4.X, X being a number incremented from 0. For the following procedure, replace “X” with the actual major revision.</p>
        <p>Minor versions of S3 Connector 7.4 offer stability, security, and installation enhancements. This section refers to these minor versions specifically as 7.4.0.Y, Y being a number incremented from 1. For the following procedure, replace “Y” with the actual minor revision.</p>
        <p>These steps work for upgrades to major and minor releases from release 7.4.0, and for upgrades to the latest release from any 7.4.X or 7.4.X.Y release. </p>
        <h2 MadCap:autonum="1.1. &#160;">Download and Extract the Offline Installer</h2>
        <ol>
            <li>Download the <span class="ProprietaryFileName">s3-offline-7.4.X.tar.bz2</span> or <span class="ProprietaryFileName">s3-offline-7.4.X.Y.tar.bz2</span> archive from our repository. Put it in the same directory as the <span class="ElementName">s3-offline-GA7.4.0/</span> directory. </li>
            <li>Extract it:
			<pre>$ tar -xvjf s3-offline-7.4.X.Y.tar.bz2 </pre></li>
        </ol>
        <h2 MadCap:autonum="1.2. &#160;">Copy the Old Environment Files</h2>
        <p>Copy the old environment directory to the new installer directory:</p><pre> $ cp -r s3-offline-7.4.0/federation/env/{{EnvironmentDir}} s3-offline-7.4.X.Y/federation/env </pre>
        <h2 MadCap:autonum="1.3. &#160;">Modify the group_vars/all file</h2>
        <p>Open the existing <span class="ProprietaryFileName">s3-offline-7.4.X.Y/env/{{EnvironmentDir}}/group_vars/all</span> file and change the version:</p><pre> env_deploy_version: 7.4.X.Y </pre>
        <p>For example, to upgrade an existing 7.4.0 version to 7.4.0.5, open <span class="ProprietaryFileName">s3-offline-7.4.X.Y/env/{{EnvironmentDir}}/group_vars/all</span> and change  <code>env_deploy_version</code> to <code>7.4.0.5</code> .</p>
        <h2 MadCap:autonum="1.4. &#160;"><a name="Stop"></a>Stop ntpd</h2>
        <p>The ntpd service may negatively affect the upgrade. Stop it temporarily in the S3 connectors with:</p><pre> $ sudo systemctl stop ntpd </pre>
        <p>You will  restart ntpd at the end of the upgrade.</p>
        <h2 MadCap:autonum="1.5. &#160;">Upgrade the Stateful Connectors</h2>
        <p>From <span class="ProprietaryFileName">s3-offline-7.4.0/federation</span>, upgrade the stateful connectors with the following commands.</p>
        <ol>
            <li>Set ENV_DIR:
		<pre> $ ENV_DIR={{EnvironmentDir}}</pre></li>
            <li>Navigate to the federation directory:
		<pre> $ cd s3-offline-7.4.X.Y/federation</pre></li>
            <li>Upgrade the active stateful connectors with the following playbooks<pre>$ ./ansible-playbook -i ./env/${ENV_DIR}/inventory run.yml --limit md1-cluster1
$ ./ansible-playbook -i ./env/${ENV_DIR}/inventory run.yml --limit md2-cluster1
$ ./ansible-playbook -i ./env/${ENV_DIR}/inventory run.yml --limit md3-cluster1
$ ./ansible-playbook -i ./env/${ENV_DIR}/inventory run.yml --limit md4-cluster1
$ ./ansible-playbook -i ./env/${ENV_DIR}/inventory run.yml --limit md5-cluster1</pre><p>If you have a multi-cluster environment, repeat these playbooks for mdX-cluster2, mdX-cluster3, and so forth.</p></li>
            <li>In a multi-site setup, upgrade the warm-standby stateful connectors with the following command<pre> $ ./ansible-playbook -i ./env/${ENV_DIR}/inventory run.yml --limit 'wsb*'</pre></li>
        </ol>
        <p>If any of these commands fails, stop. Contact Scality support.</p>
        <h2 MadCap:autonum="1.6. &#160;">Upgrade the Stateless Connectors</h2>
        <p>Run the following command from the new <span class="ProprietaryFileName">s3-offline-7.4.X.Y/federation</span> directory</p><pre> $ ./ansible-playbook -i ./env/${ENV_DIR}/inventory run.yml --limit STATELESS_ALIAS </pre>
        <p>If it fails, stop. Contact Scality support.</p>
        <h2 MadCap:autonum="1.7. &#160;">Start ntpd</h2>
        <p>Start ntpd on the servers on which it was stopped (<MadCap:xref href="#Stop">“Stop ntpd” on page&#160;1</MadCap:xref>):</p><pre> $ sudo systemctl start ntpd </pre>
        <p style="page-break-after: avoid;">Verify that the service has started:</p><pre> $ sudo timedatectl status </pre>
    </body>
</html>