﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
    </head>
    <body>
        <h2 class="frontmatter" MadCap:autonum=""> Typographic Conventions</h2>
        <p>Text that is entered into or that displays within terminal windows is presented in <code>monospace</code> typeface.</p>
        <p>Text that displays as a component of a graphical user interface (GUI) – content, menus, menu commands, etc. – is presented in a <span class="ProperNameBold">bold</span> typeface.</p>
        <p>Proprietary terms, non-conventional terms, and terms to be emphasized are presented initially in <span class="ProprietaryNonConventional">italic</span> text, and occasionally thereafter for purposes of clarity. File names are always presented in <span class="ProprietaryFileName">italic </span>text.</p>
        <p>Variable values are offered in lower camelCase within curly braces (e.g., {{variableValue}}).</p>
    </body>
</html>